[2014-03-03 06:44] gluxon opened #3 "New Theme"
I have developed a custom Enforcers theme. It will be merged shortly.

[2014-03-03 06:45] gluxon opened #4 "Document technology stack"
A document documenting the technology stack and setup of the code for this website needs to be written.

[2014-03-03 06:46] gluxon opened #5 "Find and use a JS slideshow"
It should support custom HTML slides rather than just images.

To Explore:

 - [WOW Slider](http://wowslider.com/)
 - [SlidesJS](http://www.slidesjs.com/)
 - [ResponsiveSlides.js](http://responsiveslides.com/)

[2014-03-27 02:51] xBlazeTECH opened #7 "Figure out what a technology stack is."

[2014-10-16 04:07] #7 closed, assigned to nobody

[2014-10-16 04:07] #3 closed, assigned to nobody

[2014-10-16 04:25] gluxon opened #12 "Add styling to links"
Links are unstyled and don't fit with the rest of the theme.

![screen shot 2014-10-16 at 12 08 11 am](https://cloud.githubusercontent.com/assets/906558/4657529/335b46a0-54eb-11e4-9d57-eb24163f7479.png)

[2014-10-16 04:25] #12 closed, assigned to nobody

[2014-10-16 04:27] gluxon opened #13 "Fix footer width on small screens"
![screen shot 2014-10-16 at 12 06 51 am](https://cloud.githubusercontent.com/assets/906558/4657600/b9a42758-54ec-11e4-9ab4-8c64bb43b231.png)

[2014-10-16 04:30] #13 closed, assigned to nobody

[2014-10-22 23:54] xBlazeTECH opened #14 "Give me permissions for team178 organization."
^ nuff said.

[2014-11-05 12:16] th8000 opened #15 "What are you working on?"

[2015-01-28 23:00] #4 closed

[2015-01-28 23:00] #5 closed

[2015-01-28 23:00] #14 closed

[2015-01-28 23:00] #15 closed

[2015-01-28 23:01] gluxon opened #16 "Create/Update Team History Page"

[2015-01-28 23:03] gluxon opened #17 "Add sidebar"
This sidebar would show a calendar, updating events, supplemental link.

[2015-01-29 02:56] gluxon commented on #15
Answer provided during team meeting. Closing.

Isaac, please let me know if you're interested in helping out further. Thanks!

[2015-02-25 00:17] meganlauren1211 commented on #16
it's correct on the navigation. still need to change the name of "robots" to history

[2015-02-25 00:18] meganlauren1211 opened #18 "Fix Navigation Bar Responsiveness"
formatting is messed up when we add/change the navigation so that it's longer. It'd be great to update the way things are placed on the page so that this isn't an issue.

[2015-02-26 00:13] SilverSapo commented on #18
Increased max width of navigation bar

[2015-02-26 12:45] gisellegk commented on #18
note that this is just a quick fix -- when I'm resizing the window here on my work computer it still doesn't place itself in the right spot with certain widths. We still need to look closer and possibly change how the webpage decides to place the social media bar.

[2015-02-26 13:20] gisellegk opened #19 "Social Media Bar Blocked by Adblock Plus"
it's a default list on the adblock extension I'm using that blocks social media buttons.... idk how I feel about this because *technically* that's what it's supposed to do I guess, but I feel like the intent was to block things like those little facebook "like" buttons that some websites scatter all over their pages, rather than unintrusive icons on our navigation bar.

[2015-02-26 15:47] gluxon commented on #19
I investigated this back when I implemented the social bar. Fanboy's social blocking list is very strict. Filenames like facebook.png are directly blocked. If we want to change this, we could rename the div to "externals" or the like.

[2015-02-26 17:08] callmeStriking commented on #19
Or maybe you should respect the user agent's opinion and just let them block it instead of trying to circumvent it? If you block Facebook, you're not going to be clicking the button, are you?

[2015-02-26 18:46] gluxon commented on #19
The #social-bar div is outright blocked, removing sites like GitHub as well. Like I said, if we want to change this, #externals-bar would help.

[2015-02-26 19:02] gisellegk commented on #19
Yeah, facebook.png, etc. would probably still be blocked, but I feel like
that makes more sense than having the entire bar blocked.

(kind of off topic, but i think the site looks kind of bland without the
splash of color that the social media buttons give...)

On Thu, Feb 26, 2015 at 1:46 PM, Brandon Cheng <notifications@github.com>
wrote:

--
Giselle Koo

[2015-02-26 19:04] gluxon commented on #18
3 things. :)

1. Great use of Git Elizabeth. Linking code changes to issues about them may be helpful in the future. Take a look at -> https://github.com/blog/957-introducing-issue-mentions
2. Part of the reason the max-width was originally set to 1100px was to encourage 5-6 well thought out top level items. (e.g. Contact Us may be unnecessary since people are trained to look for information like

[2015-02-26 19:15] gluxon opened #20 "Create full width page layout"
The new team history page is very nice. Once thing that may improve it is another layout that sets #content > article to 100% width.

Just a suggestion for a quick task that may help someone with code literacy.

[2015-02-26 19:44] nt1st commented on #19
If the site needs a splash of color, we should probably give it one
inpendent of third party icons.
On Thursday, February 26, 2015, Giselle <notifications@github.com> wrote:

--

[2015-02-26 20:22] nt1st commented on #19
*independent

On Thursday, February 26, 2015, Nandan T <t.nandan2008@gmail.com> wrote:

--

[2015-02-26 22:13] gluxon commented on #19
As long as Megan's good with it, suggestions welcome. :)

[2015-02-27 02:19] callmeStriking commented on #19
[colourcode](http://colourco.de/) and [Adobe Color CC (née Kuler)](https://color.adobe.com/explore/most-popular/?time=all) are very helpful, free systems for choosing more colors. Personally I think the Pure Yellow on the website does not match "Enforcer Gold" and that the approximately Munsell 10B 3/2 that makes up the bar and background is too dark/blue.

Just for kicks, I decided to try [NCS-in

[2015-02-27 05:26] nt1st commented on #19
While I do agree with the need for vibrancy, I don't think that it should
come at the cost of brand identity, namely, the trademark Enforcers Blue
and Gold. Here is a Color CC swatch/palate that I made. The comments have
my personal frontrunners http://adobe.ly/183PqzR. If we were to change the
header color to the blue, and add yellow sidebars along the edges of the
content, at perhaps 5px, with a

[2015-02-27 05:54] callmeStriking commented on #19
@nt1st GitHub doesn't actually allow you to email in image files... You have to manually add them to your post or otherwise obtain some URL to link in. Very interested to see what you've made, though.

Also, @all, maybe this discussion should go in a separate topic. I don't think it's on-topic here IMO.

[2015-02-27 13:03] gisellegk opened #21 "Website Color Discussion"
@callmeStriking

[colourcode](http://colourco.de/) and [Adobe Color CC (née Kuler)](https://color.adobe.com/explore/most-popular/?time=all) are very helpful, free systems for choosing more colors. Personally I think the Pure Yellow on the website does not match "Enforcer Gold" and that the approximately Munsell 10B 3/2 that makes up the bar and background is too dark/blue. It looks classy, but may

[2015-02-27 13:03] gisellegk commented on #21
@nt1st

While I do agree with the need for vibrancy, I don't think that it should
come at the cost of brand identity, namely, the trademark Enforcers Blue
and Gold. Here is a Color CC swatch/palate that I made. The comments have
my personal frontrunners http://adobe.ly/183PqzR. If we were to change the
header color to the blue, and add yellow sidebars along the edges of the
content, at perhaps 5px

[2015-02-27 13:19] gisellegk commented on #21
(@nt1st -- please post your images through github, we'd love to see :D)

I think it's not an issue of the current layout color choices, but of the content. I agree with @nt1st about brand identity -- I think the current colors look good together and are designed to be close to our team colors.

A couple years back, I did attempt to make "Design Standards" with official definitions of Enforcer colo

[2015-02-27 23:17] nt1st commented on #21
Hi it took a while for me to get access to my files again. Here is the original comment.
![teamsiteconcept](https://cloud.githubusercontent.com/assets/10603428/6422948/bc4c53de-beac-11e4-9a97-cdfd4f0ea45d.PNG)
"While I do agree with the need for vibrancy, I don't think that it should come at the cost of brand identity, namely, the trademark Enforcers Blue and Gold. Here is a Color CC swatch/palate

[2015-02-27 23:20] nt1st commented on #21
This preview has large yellow bars to enhance the contrast. I think they should be a tad bit smaller though.

[2015-03-13 20:46] nt1st opened #22 "Update picture of robot on header to 2015 robot"
Here is a new image. The background is a gradient, but I think I can get rid of it with Photoshop if need be.
![f14590fc0266ed256b0710015f2d42ce 1](https://cloud.githubusercontent.com/assets/10603428/6646974/5a0214a8-c9a0-11e4-9289-a272bb72b499.png)

[2015-03-13 20:55] gluxon commented on #22
Looks awesome. Would you mind removing the gradient and adding a transparent png to files/robots/TheClawRendering.png?

[2015-03-15 23:09] gluxon opened #23 "Make top.html the <head> for HTML documents."
top.html was created from a jekyll template. It's not as intuitive as it can be for most web developers. We can simplify this file by renaming it to head.html and keeping only HTML head elements in it.

[2015-03-15 23:11] #23 closed

[2015-03-16 00:36] gluxon commented on #21
This issue has been the most active on our team's GitHub so far. I'm not sure what to think of that, but here are my initial thoughts.

While design is extremely important, I think I spent a few years on the team making a mistake with it. FarmingtonRobotics.org and DreamFIRST.org are essentially empty shells. I think they're two of my best works in terms of web design, but both aren't serving thei

[2015-03-16 00:41] gluxon commented on #19
(Comments related to design deleted and moved to issue #21)

[2015-03-16 00:42] TheKrunch commented on #22
Brandon,
This may be me just being picky but the photo in this email does not have
the upper support things that were added to the gripper.

Matt Scalzo

On Fri, Mar 13, 2015 at 4:55 PM, Brandon Cheng <notifications@github.com>
wrote:

--

<http://www.fpsct.org>

The documents accompanying this fax or e-mail transmission, including any
attachments, are for the sole use of the intended recipients a

[2015-03-16 00:53] gluxon commented on #19
Alright, I think renaming the #social-bar to #external-links-bar is appropriate in the code. It's a better name for it anyway. I've tested this change and Adblock Plus blocks everything but the GitHub link. This is also nice if we add an FRC link later.

Commit coming.

[2015-03-16 00:56] #19 closed

[2015-03-16 00:59] gluxon commented on #19
Screenshot of fix with Fanboy's Social List on.

![only-github](https://cloud.githubusercontent.com/assets/906558/6659195/28e13018-cb56-11e4-9293-59b9783427fb.png)

[2015-03-16 01:03] gluxon commented on #16
Looks like this is done. @meganlauren1211, can you close this?

[2015-03-16 12:54] gisellegk opened #24 "Add information about Jr.FLL"
I'm thinking audience should be parents and students, both specifically for Farmington residents (eg. if they want to start an FLL team like Team Genius OR if they want to get involved with the district teams) and people from other towns interested in starting FIRST in their community.

It would also be a place to talk about our (really AWESOME) Jr.FLL expo! Talk about stuff we talk about in Chair

[2015-03-16 14:40] gisellegk commented on #21
Thoughtful consideration of content and how it should be presented (think outside of the wall-of-text box please) will improve the visual impact of the website far more than changing colors. This is an important aspect of "design" that I think has been largely overlooked. Not sure how relevant it is to this thread; I have some suggestions that could be made into new issues and discussed.

[2015-03-16 15:02] gluxon commented on #21
I totally agree.

[2015-03-16 15:18] gluxon commented on #22
@nt1st Rereading your comment, I'm understanding that by "I can get rid of it with Photoshop" you mean that you'll try manually cutting out an alpha layer. You shouldn't have to do that. Audodesk Inventor provides a way to export models against a transparent background. If you're still interested in updating this picture, ask @PrazzleDazzle (Prashant) to help you during the next meeting.

@TheKrun

[2015-03-16 17:35] #16 closed

[2015-03-16 17:57] gisellegk opened #25 "Rename "robots" page"
The team history page is still at http://farmingtonrobotics.org/robots/

change this to something like "history" maybe?

Here is a tutorial for an easy way to fix this:
https://github.com/blog/1436-moving-and-renaming-files-on-github

[2015-03-16 18:03] gisellegk commented on #25
@meganlauren1211 Feel free to assign this task to somebody else -- just wanting to demonstrate/use some of the tools that are a part of github issues.

[2015-03-19 20:57] meganlauren1211 commented on #22
![the claaaaaaaaw](https://cloud.githubusercontent.com/assets/7004107/6740743/f1080b52-ce58-11e4-9816-7fd460bb2d11.png)

[2015-03-19 21:08] adetoudomkh commented on #25
I fixed the website link from having to type in robots to type in history to go along with the theme of the page. See commit 774cd39

[2015-03-19 21:08] #25 closed

[2015-03-19 21:17] meganlauren1211 commented on #22
![the actual claw transparent](https://cloud.githubusercontent.com/assets/7004107/6741169/c3421d18-ce5b-11e4-8a13-a0b0e64dd72e.png)
final photo?

[2015-03-19 21:32] adetoudomkh commented on #20
Made timeline full width and deleted history text b/c already on the timeline. Moved the content out of the article and deleted article altogether.

We are going to also make a version that changes the CSS. --Giselle

[2015-03-19 21:48] adetoudomkh commented on #20
Added article back in and added a new CSS style.
Here are all the changes I had made to fix this issue: ebba13 80de26 17ceb43

[2015-03-19 21:52] adetoudomkh opened #26 "Center Text on History Page"
Headings on History Page are not centered and are located at the left side of the page. Please fix if it's possible.

[2015-03-19 22:08] meganlauren1211 commented on #22
changed the photo on the header already

[2015-03-19 22:08] #22 closed

[2015-03-19 22:09] SilverSapo opened #27 "Team History Page Linking to Wrong Page"
Team History button links to /robots instead of /history, needs to be fixed

[2015-03-19 22:11] SilverSapo opened #28 "Home Page is Lame"
Our home page just has our calendar and it's a bit lame. We need ideas to make it more interesting. No walls of text and no annoying slideshow. It should be functional.

[2015-03-19 22:13] SilverSapo opened #29 "Banner/Slideshow Usage"
There's the text banner on the top of every page with the image of the Claaaw and our introduction. It works for the home page, but for the other pages, it doesn't really fit. (Referred to as a slideshow in code, but it's not. Decide whether or not we want a slideshow or rename it.)

[2015-03-19 22:19] #27 closed

[2015-03-19 22:21] meganlauren1211 opened #30 "Team History under About"
It doesnt need to be its own page

[2015-03-19 22:32] gisellegk commented on #30
I am available as a mentor for this issue

[2015-03-20 00:28] gisellegk opened #31 "Timeline Build Season/Robot events"
For the most part, the build season events for each year list the name of the robot and the description of the game (probably copy-pasted from the game manual). Let's revise this so that the game description is more consise, and focus on our team and robot.

[2015-03-20 02:54] gluxon commented on #20
I didn't understand that comment about deleting <article>. What was that about?

[2015-03-20 03:04] gluxon commented on #20
Nice creative solution to creating the full page layout. It demonstrates understanding. However, something that could improve performance and maintainability would be to use CSS classes rather than external stylesheets.

1. Move the contents of the file fullwidth.css to main.css (to preferable around line 90)
2. Delete the now empty fullwidth.css
2. Change `#content article` to #content article .f

[2015-03-20 03:11] nt1st opened #32 "Robot Header image looks weird in Firefox."
![capture](https://cloud.githubusercontent.com/assets/10603428/6745445/4dbb988a-ce8d-11e4-88b8-3e8f4ca37821.PNG)

[2015-03-20 03:12] gluxon commented on #20
Another separate improvement that could be made is to set max-width rather than width.

[code]

[code]

If you're wondering "why is this better?", it's simply because this CSS is overriding a property that's already set. Best practice is to change just that property and not introduce another one.

[2015-03-20 03:17] gluxon commented on #26
All headers are justified to the left by default, which hasn't been an issue before fullwidth was introduced. If we want to start centering second level headers on fullwidth pages, we can set the `text-align` property to a value of `center` under a `#content article .fullwidth h2` CSS selector.

[2015-03-20 03:26] gluxon commented on #32
Thanks to everyone for the work done today, but we should make sure to revert changes that don't quite work the way we expect as soon as possible.

In addition, for CSS or HTML changes, please run them locally to test them offline before committing to master. You should know exactly what the website looks like before officially uploading code. (Like programming for the robot.) This is a good softw

[2015-03-20 03:55] meganlauren1211 opened #33 "Make New Layout for the Homepage"
![20150319_191331](https://cloud.githubusercontent.com/assets/7004107/6745636/33a102f2-ce90-11e4-8eaa-be513f4f00ed.jpg)

We were brainstorming ideas for a new homepage layout. Yeah my handwriting kinda really sucks and brainstorming can be really messy so here's a summary of what we came up with:

-Plan on keeping the navigation bar and the social media bar. keep mission statement and The Claaw up

[2015-03-20 04:06] timbarron commented on #33
I like it!!!!  Contains a lot but not too busy.

Tim

On Thursday, March 19, 2015, meganlauren1211 <notifications@github.com>
wrote:

--
Tim Barron

Please note this is my personal email - t <barront@fpsct.org>
mbarron@gmail.com - I am separating my work and personal email.  Please use
barront@fpsct.org for school and robotics related communications.  Thank
you.
But do not hesitate to text me for

[2015-03-20 04:10] gluxon commented on #29
It's setup in the code as a slideshow at the moment in case we want to add other slides of information. As for whether or not we need it on every page, I thought every page having a unique banner would have been ideal.

[2015-03-20 04:15] gluxon commented on #21
I'm going to close this issue for now since we have issue #33 looking like the continuation of this.

[2015-03-20 04:15] #21 closed

[2015-03-20 04:19] gluxon commented on #33
:+1: Can't wait to see the draft!

[2015-03-20 10:30] gisellegk commented on #32
The robot image looked fine from our computers yesterday, and from my iPad
that I'm typing from now... So this comes as a surprise. Will need to take
a closer look to see what is causing the issue for you guys.

Currently the website team does not have workstations with git even
installed much less Jekyll. Most of our commits were made on GitHub's
website.

There were a bunch of changes made that

[2015-03-20 11:54] gisellegk commented on #32
![screenshot 2015-03-20 at 7 53 28 am](https://cloud.githubusercontent.com/assets/3026367/6751001/42d55908-ced6-11e4-9624-60547fb51ba9.png)

This is what I see on my chromebook at work...

[2015-03-20 12:09] gisellegk commented on #32
- Right now the image is 432px x 518px, scaled down through css -- could be causing issues?? We might want this larger version on the Team History page, so maybe we should upload another smaller version?
- the right claw has a bit of not-transparent background that we missed.
- I think it would be a very good idea to learn to use git and test changes locally before committing, rather than trying t

[2015-03-20 12:12] gisellegk commented on #28
Our brainstorming re: this issue has been posted & is now up for discussion in #33

[2015-03-20 12:12] #28 closed

[2015-03-20 12:35] gisellegk commented on #20
Changing `max-width`. Darn, that's so obvious I didn't think of it, lol.

Instead of adding `class=fullwidth` to `article`, would it be possible to add it to only whatever's containing the html of the timeline (or whatever element we want to be fullwidth) ?

For example in the history page, the title and any content we might decide to have below the timeline would behave like they would in a defau

[2015-03-20 12:42] gisellegk commented on #20
@gluxon deleting article was for demonstrating how css affects html, ie. 'full-width: 80%' affects stuff in '<article>' but not in '<div id="content">'. Then we made the solution that is currently being used.

[2015-03-22 02:46] gluxon commented on #32
Sorry for jumping to conclusions about the issue. That apology is for everyone that worked on this.

In the 20 minutes I spent on the problem, my guess is that `max-width` is a CSS property meant for box model elements and `flex-basis` should be used here instead. The discrepancies in Firefox and Chrome are probably due to areas in the W3C specifications that don't define how max-width behaves on

[2015-03-22 03:02] gluxon commented on #17
Closing. Further discussion is in issue #33.

[2015-03-22 03:02] #17 closed

[2015-03-22 03:22] #32 closed

[2015-11-18 16:49] gisellegk commented on #20
Does anyone know if this issue still needs to be open? @gluxon @adetoudomkh @meganlauren1211 @SilverSapo

[2015-11-18 18:21] gisellegk opened #35 "Raffle Meter: Dynamically changing widths of pseudoclasses"
__Available mentors:__ Giselle Koo
(feel free to add yourself)

[Click here](http://www.w3schools.com/css/css_pseudo_classes.asp) to learn about pseudoclasses.

Currently, we use these lines of code to set the widths of the `:before` and `:after` pseudoclasses:
[code]

1. `document.styleSheets[7]` depends on the fact that the raffle-meter.css file happens to be the 8th spreadsheet on the webpage.

[2015-11-18 18:41] gisellegk opened #36 "Raffle Meter: Pretty on the page"
__Available mentors:__ Giselle Koo
(feel free to add yourself)
**Progress:**
- [X] Center it
- [X] Make it not tiny on big displays
- [X] Make it not extend too far on mobile
- [X] Add more info
- [X] Fix the margins
- [X] Debug everything!
- [X] Pick proper colors (#43)
- [ ] Make it look right in IE (#38)
- [x] Make the drop-downs not go behind the small meter (#50/#58)

![screenshot from 2015-1

[2015-11-18 18:47] gisellegk opened #37 "How to Join page"
__Available mentors:__ Giselle Koo
(feel free to add yourself)

Quoted from Mr. Barron's email:

[2015-11-20 00:43] TJScalzo commented on #35
We fixed this issue using special JavaScript stuff for FireFox and Chrome. We still need to check if it works on IE. We also need to fix it on Safari.

[2015-11-20 00:54] #35 closed

[2015-11-20 00:55] TJScalzo opened #38 "Raffle Meter - Font and line height don't work in IE."
We need to fix this.

[2015-11-20 00:56] TJScalzo commented on #36
I will look into making the font size based on a percentage or something so it is more responsive.

[2015-11-20 00:59] TJScalzo opened #39 "Hover Popup/Tooltips explaining colors of the raffle meter"
Possibly make the bar have popup text that says what the colors mean and maybe some other stuff. If that's too difficult it could just have a link to a page that explains everything.

[2015-11-20 01:01] TJScalzo opened #40 "Implement raffle meter onto live main page"
This is the last thing that would need to be done.

[2015-11-20 01:02] TJScalzo opened #41 "Remove calendar from raffle meter testing page"
The calendar takes a really long time to load and should be removed for now to make testing easier.

[2015-11-20 01:08] #41 closed

[2015-11-20 01:18] gisellegk opened #42 "Make Raffle Meter only visible after loading completely"

[2015-11-20 01:27] gisellegk commented on #36
#39 helps with this -- tool tips to display more details!

Raffle Progress Bar
(Mouse over the logo for details.) (smaller text)
ENFORCERS
Tickets Sold: 6% of goal | Click here to learn about the raffle >>

[2015-11-20 01:32] gisellegk commented on #36
We should also add how many days left until the raffle drawing

[2015-11-20 01:39] TJScalzo commented on #39
The separate page could have all of the different statistics if needed/wanted.
**Ideas:**
* % of total goal
* % of tickets checked out
* % of tickets checked out of total
* # of tickets needed to reach goal
* $ we've made in total
* $ of profit

[2015-11-20 05:12] nt1st opened #43 "Aligning the website with our Team Branding Standards."
https://drive.google.com/open?id=1osKZBafFCetyKy_8zcLG-VpnZgxy6UWzadQuC-JZQuI
The colors on the website don't quite align with our team colors. Is this something we want to change?
**To do:**
- [x] Change header's color
- [x] Change footer's color
- [x] Make banner color fit better with header
- [x] Fix contrast of flags
- [x] Make nav bar dropdowns a good color
- [x] Make mobile dropdowns within

[2015-11-20 05:14] nt1st opened #44 "Adding Sponsors to the footer of our webpage"
Should we add our highest level of sponsor's logos to the bottom of the page in monochromatic tones? Like a whitewashed or yellow-washed logo(with transparency ofc) on a dark blue background at the footer?

[2015-11-20 12:34] gisellegk commented on #44
Why not the sponsors' official colors?

[2015-11-20 12:44] gisellegk commented on #43
YES!!! PLEASE AND THANK YOU!!! :smile:

~~also :cry: about depreciating my #000178~~

[2015-11-20 13:00] gisellegk opened #45 "Timeline Content Clean-up"
[The timeline](http://farmingtonrobotics.org/history/) could use some love in terms of content. We did a great job of hashing out all the events we need on there, but adding pictures, videos, and text would be awesome!

#31 is specifically about the content about each year's game that is copied from the game manual.

This issue addresses the broken picture links (or lack of pictures in general). W

[2015-11-20 14:05] TJScalzo commented on #36
An

[2015-11-20 14:12] TJScalzo commented on #36
![image](https://cloud.githubusercontent.com/assets/15825214/11301641/bc2be9d8-8f66-11e5-9d6e-2d626eb8ac38.jpeg)
 This *should* get fixed when I add in responsive text height. However, I feel like we're going to run into issues anyway.

[2015-11-20 14:15] nt1st commented on #44
That could work, but I wanted to prioritize our brand identity over others
because it will be at the footer of all of our pages.
On Nov 20, 2015 7:34 AM, "Giselle" <notifications@github.com> wrote:

[2015-11-20 15:16] gisellegk commented on #44
I feel like it would be better to prioritize strengthening our own design elements rather than sacrificing others' brand identities. For example, we could use blue and yellow border elements, or text that says something like "Special thanks to our sponsors!" following the branding guidelines.

But that's just my opinion... I think it would be pretty easy to try both and see how we like them.

[2015-11-20 15:24] gluxon commented on #44
I would be careful with modifying the brand images of other organizations. Even if its just the color. Each organization has its own set of acceptable standards. Some trademark requirements even require you to have a logo only against a specific background color.

Take Mozilla for example:

https://www.mozilla.org/en-US/styleguide/identity/mozilla/branding/

[2015-11-20 15:32] nt1st commented on #44
The word mark is monochromatic and with a transparency. FIRST I know for a
fact has a monochromatic logo. They may require that it be white, but we
can always ask. And monochromatic versions of all of our sponsors logos in
team yellow currently exist on our team shirts.
On Nov 20, 2015 10:24 AM, "Brandon Cheng" <notifications@github.com> wrote:

[2015-11-20 16:42] TJScalzo commented on #44
Aren't all of the sponsors' logos on our shirts? I'm pretty positive that all of them are monochromatic. If we *do* encounter issues we can always just change it.
![image](https://cloud.githubusercontent.com/assets/15825214/11305665/c67a6878-8f7b-11e5-9c74-8ed08e6e8f22.jpg)

[2015-11-20 16:47] gluxon commented on #18
Closed by commit 0f98bb56a366548bf26d7e2d83be39fb48714adb

[2015-11-20 16:47] #18 closed

[2015-11-20 16:54] gluxon commented on #44
Forgot about that. Haha, it's been a while. Perhaps we already have permission to make them yellow then.

With legal details though, my recommendation is to always play it safe. Uploading something potentially problematic and asking for forgiveness later wouldn't be respectful to sponsors. Given the shirts, it's probably fine to monochrome the logos, but I would just run it by coaches quickly.

[2015-11-20 16:54] gisellegk commented on #44
The t-shirts are kind of an extenuating circumstance because it is easier (and thus cheaper) to screen print one color, so demanding color requirements to be met on them would be pretty unfair.

[2015-11-20 16:59] gluxon commented on #43
Go for it. To explain the rationale for the current colors, they were generated from a palette of compatible complementary colors. I would recommend ensuring the same is done of the new colors if they are chosen again.

[2015-11-20 17:04] gluxon commented on #20
Yes, but that's slightly complicated. It would require either text paragraphs to have a min-width set on them, or the element that's full width to have negative margins.

:)

[2015-11-20 17:05] gisellegk opened #46 "Moving links to modular CSS...?"
I guess this is mostly to @gluxon but is it better to put modified CSS for different layouts in main.css or in their own separate CSS files?

Either way I think it'd still be better to move the css and javascript links out of raffle-meter.html in _includes... probably should be moved into the head section of raffle-meter.html file in _layouts.

[2015-11-20 18:32] TJScalzo commented on #44
I love how you phrased that! I think, if we were to add our sponsors, we should use their official color(s) as long as the logos are small enough to not intrude on the overall design of the page.

[2015-11-20 18:37] TJScalzo commented on #43
I was thinking we could choose the colors based on the official colors but referencing them with a palette of colors that work together. There are a ton of online palette creators that we can use that let you input a color or two and find others that compliment them.
**Examples:**
* [Coolers](https://coolors.co/)
* [Paletton](http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF)
* [Adobe Color](ht

[2015-11-21 03:51] gluxon commented on #46
It really depends. I originally meant for main.css to be something that only styled the top level main structural items, but already does more than that. I would say if something could be moved into its own file, go for it. Although many different opinions exist among professional web developers, and most are valid.

Absolutely. I would agree. A quick nitpick I would point out is that `includes/ra

[2015-11-21 04:06] gluxon commented on #36
So one method to tackle the raffle meter responsiveness would be to use [viewport-percentage lengths](https://developer.mozilla.org/en-US/docs/Web/CSS/length#Viewport-percentage_lengths). I was able to use the `vw` unit make the meter scale with my browser window and mobile friendly as a result.

@TJScalzo Explore the vw unit a little and see what you can come up with. I have my solution on my com

[2015-11-25 16:06] gisellegk commented on #42
closed with commit 4041443 :tada:

[2015-11-25 16:06] #42 closed

[2015-11-25 16:16] gisellegk opened #47 "Fix up overall sizing/positioning of raffle meter & periphery"

[2015-11-25 16:17] gisellegk opened #48 "Add informational page about the raffle"

[2015-11-25 16:31] gisellegk opened #49 "Add non-popup information around the raffle meter"
This should be pretty quick -- most difficult part will be making it calculate the # of days left. (raffle drawing is Dec. 10)

#### Raffle Progress Bar
(Mouse over the logo for details.)
### ENFORCERS
Tickets Sold: 6% of goal | (#) days left! | Click here to learn about the raffle >>

[2015-11-25 18:04] TJScalzo opened #50 "Create smaller meter for other pages"
The large raffle meter is too big to be used on all of the pages of the site. Therefore we should create a meter that is smaller and more easily understandable. I suggest a rectangle meter with words that explain what's happening inside of it. It shouldn't be as based off of text; therefore, it should be less intrusive.
**To Do:**
- [x] Brainstorm what it'd look like
- [x] Figure out how to implem

[2015-11-25 18:24] TJScalzo commented on #38
I'm not actually sure if this *needs* to be finished before we publish the meter. It seems like not a lot of people use IE anyway. However, if you're going to try and fix this, @gisellegk, go ahead.

[2015-11-25 18:57] #47 closed

[2015-11-25 19:00] TJScalzo commented on #47
There is still a strangely large amount of space underneath the meter before the text about what percent we're at comes up. I'm not quite sure why that is; however, I'll leave that to be fixed in issue #36.

[2015-11-25 19:14] TJScalzo opened #51 "Top and bottom margins of raffle meter"
There's a strangely large amount of space above and below the meter before the text is visible. I *think* it has to do with the margins that've been set. I'm not sure how to describe it so here:
![screen shot 2015-11-25 at 2 10 02 pm](https://cloud.githubusercontent.com/assets/15825214/11407022/52caf698-937e-11e5-8f53-0c54ae4b3b0d.png)
I'll try and see if I can fix this; I'm just adding so if I ca

[2015-11-25 19:17] TJScalzo commented on #36
**Announcement:** Issues #43 and #51 could be considered to be nested under this one. (And if not #43 then at least the spirit of it.)

[2015-11-25 19:23] TJScalzo commented on #49
Should it also be mentioned that they have to have tickets in by Dec 3?

[2015-11-25 19:29] TJScalzo commented on #39
I'm going to look into how to do this.

[2015-11-25 19:38] SilverSapo commented on #49
I think that it should so it's a reminder to all team members and it tells people when our sales end.

[2015-11-25 20:00] TJScalzo commented on #39
[This website](http://www.nicolashoening.de/?twocents&nr=8) seems to offer an answer; I'm going to try and use it.

[2015-11-25 21:19] #51 closed

[2015-11-25 21:26] TJScalzo opened #52 "Outline of meter looks very thin on larger displays"
I'll use the vw unit to fix this.

[2015-11-25 21:36] #52 closed

[2015-11-25 21:49] TJScalzo opened #53 "Drop down menus for About and Members pages are covered by meter"
I'm not sure why this happens or how it could be fixed. It'd be great if someone would like to take a look at how the drop down works and see if there's a way to put it on top. (I'll also try and figure it out.)

[2015-11-25 22:05] TJScalzo opened #54 "Meter extends too far on larger displays"
I've actually got no idea how to fix this. The problem comes from the fact that I opened the meter on my dad's computer that has a gi***gantic*** screen. The meter extends very far on each side of the area  that actually has content. This is due to the fact that vw makes the word "Enforcers" *just* tall enough to reach each side of the window. However, on a screen as big as my dad's it's unwise to

[2015-11-25 22:39] TJScalzo commented on #54
In reading the internet I feel like I can do something with ```@media ```. If I'm wrong then I reiterate: I have no idea how to fix this. The only other thing I can think of is the way that the header stays at a certain width. However, I don't know how that works so someone with better experience really needs to help with this. Can you help me @gisellegk and/or @gluxon?

[2015-11-26 01:03] gisellegk commented on #38
Yeah it does need to get done at some point, IE is popular just because it comes prepackaged with so many computers.... btw it looks fine in Microsoft Edge, which is their new browser for Windows 10

[2015-11-26 01:05] gisellegk commented on #47
Looks great! Though maybe on the big size when viewed on a computer...

[2015-11-26 01:07] gisellegk commented on #53
Take a look at the `z-index` property...

[2015-11-26 01:09] gisellegk commented on #54
A possible solution could be limiting how large the text size can be?

[2015-11-26 02:01] #49 closed

[2015-11-26 02:05] gisellegk commented on #50
I'm envisioning a thin bar of just white, yellow, and blue, and a link that says something along the lines of "About the raffle >>" either centered below the line, or aligned to the far right.

Where would we put it? Right below the navigation bar, or above it?

[2015-11-26 03:47] TJScalzo commented on #50
I feel like it'd work in between the header/navigation bar and the "slideshow"

-Tim

[2015-11-26 04:21] #53 closed

[2015-11-26 04:45] TJScalzo opened #55 "The meter looks strange on smaller screens/mobile devices"
Basically, the viewport width becomes so small that the width of the outlines becomes zero and so that needs to be fixed. Not only that but the progress lines of text wrap badly. Also, the mouse over logo for details text should be removed in mobile.

[2015-11-26 04:46] TJScalzo commented on #54
I've figured out how I'm going to do it. All I have to do now is implement it properly. It's too late tonight to tediously go through everything. Instead, I'm pasting the code here so I don't lose it and I'm going to bed.

[code]
**Things to Figure Out:**
* How wide the limit of the meter should be
* At what window size it should change to the limited width
* If anything else needs to be fixed to

[2015-11-26 04:48] TJScalzo commented on #55
![image](https://cloud.githubusercontent.com/assets/15825214/11415274/f2e126de-93ce-11e5-9d3b-2b0ecb3cb671.png) (An example of what I'm talking about.)

[2015-11-26 05:19] TJScalzo commented on #54
I decided that another half hour couldn't hurt so I wrote this:
[code]
It seems to work fairly well. The only problem is when I entered it into the page using Chrome's developer tools, the "(Mouse over the logo for details)" gets put into the same line as "Enforcers" for some reason. I'm too tired to fix it right now.

[2015-11-26 15:29] gisellegk commented on #54
I just changed the font size from vw to vmin -- so on mobile it is based on width, but on a desktop computer it's based on height.... can you test to see if this helps @TJScalzo ?

[2015-11-26 15:31] gisellegk commented on #55
Made font size responsive (6b0fe47a)... should help with the text wrapping

[2015-11-26 15:33] gisellegk commented on #54
Sorry I hope I'm not like pulling the rug out from under you on this one... you did a lot of great work! Plus my fix might not work anyways....

but your `@media` work will still definitely help with #55 outline problem !

[2015-11-26 16:50] TJScalzo commented on #54
It seems to help a little bit. However, if you go into landscape mode on mobile or resize the window on desktop too much it starts to look too small. Also, on my dad's giant display things just look strange. I think ```@media``` will work if I just take half an hour and figure out the best limits to use.

[2015-11-26 16:56] gisellegk commented on #54
I think it honestly looks huge especially compared to the rest of the stuff on the page.....

[2015-11-26 17:14] TJScalzo commented on #54
I was talking about the fact that everything runs into itself. The margins seem to be messed up. I'm going to undo the vmins and add some stuff so that I can see if using ```@media``` will help.

[2015-11-26 17:36] gisellegk commented on #54
Go for it :+1:

[2015-11-26 17:38] gisellegk commented on #38
Getting the font from Adobe now instead of locally, so that works.
Everything else is still terrible though. Thanks for the screenshot @SilverSapo :stuck_out_tongue:

![2015-11-26](https://cloud.githubusercontent.com/assets/3026367/11428544/7edb9546-943a-11e5-97cb-412193172670.png)

[2015-11-26 18:51] #54 closed

[2015-11-26 19:17] TJScalzo commented on #55
I'm going to use '''@media''' to make the outline change when on mobile.

[2015-11-26 19:22] TJScalzo commented on #54
@gisellegk if you still think it looks too big, feel free to scale things down by changing the font size a little. Otherwise, I think everything's fixed here.

[2015-11-26 19:27] #48 closed

[2015-11-26 20:24] TJScalzo commented on #55
The titles also get too small. (I think "Raffle Progress Bar!" stays the mostly the same size?)
![image](https://cloud.githubusercontent.com/assets/15825214/11430238/8c323008-9451-11e5-9470-ad322746bf82.png)Portrait ^
![image](https://cloud.githubusercontent.com/assets/15825214/11430239/8c407672-9451-11e5-99e6-12ad08741eef.png)Landscape ^

[2015-11-26 21:25] gisellegk commented on #55
Also looks weird but in a different way for me...  For mobile, I want the raffle bar to go all the way across the screen, but for desktop computers it should just go as wide as the text in the "slideshow"

Portrait:
![img_1438](https://cloud.githubusercontent.com/assets/3026367/11430784/dc26f88e-9459-11e5-8782-6e108b1fbe88.PNG)

Landscape:
![img_1439](https://cloud.githubusercontent.com/assets/302

[2015-11-26 23:11] TJScalzo commented on #55
That's strange... I think it's because the font height is set to vw? It's like some of the text-shadow is showing up and some isn't; which is sort of like what happens on my phone. I'll try to fix it once I get to a computer.

[2015-11-27 04:51] TJScalzo commented on #55
Alright. I think it's fixed. If the "Tickets sold: 7.5% | 14 days left! | About the raffle >>" and/or the "Raffle Progress Bar!" looks to big/small at larger/smaller sizes then reopen this issue and let me know.

[2015-11-27 04:51] #55 closed

[2015-11-27 05:10] TJScalzo opened #56 "Mouse over for details text should go away on mobile"
It just logically makes sense. I think I'll have to make a new div, maybe? From what I can see, "(Mouse over the logo for details)" is just plain text; i.e. it's not part of a div I can make disappear in using CSS. I'll see how it goes.

[2015-11-27 06:28] TJScalzo commented on #56
Erm... I'll fix this...

[2015-11-27 06:30] #56 closed

[2015-11-27 06:33] TJScalzo commented on #36
I will try to create a better color theme thing to use for the website that better matches what the "official" colors are.

[2015-11-27 06:46] TJScalzo commented on #50
My question(s) is: How would this be done? Should I add to the default layout and have something like ```{% include raffle-meter-s.html %}```? Or should I do it some other way? (Right now, that's the only way I can think of doing it.)

[2015-11-27 17:15] gisellegk opened #57 "Something in modifying-css.js broke :/"
So neither /test nor /test2 show us any raffle meter :cry:

[2015-11-27 17:17] gisellegk commented on #50
I'd say adding it to the default layout would be easiest... and we can also make another layout called "Small Meter" or something, so that when we change the default layout back to normal, we won't lose our code.

[2015-11-27 18:13] TJScalzo commented on #57
That's right... However, I think it's because I did something wrong in raffle-meter.js I'm pretty sure I forgot a line or two of code. I'll attempt to fix it once I get to my computer. If I fail I'll undo everything and start over.

[2015-11-27 18:52] #57 closed

[2015-11-27 19:35] TJScalzo commented on #50
Okay, I've fixed the issue where nothing would show up for either test page. However, I think the way that I'm trying to do it won't work. I don't really know *why* it won't work; I just have this feeling that no matter how hard I try, adding everything to the existing JavaScript and CSS won't work.

[2015-11-27 22:45] TJScalzo commented on #50
Because different browsers affect the header's height differently, I can't tell the meter to go down a cetatin amount because that amount would be different in another browser.
Chrome V
![screen shot 2015-11-27 at 5 40 44 pm](https://cloud.githubusercontent.com/assets/15825214/11448784/2b21fc84-952e-11e5-86b1-0872eaaa556a.png)
Safari V
![screen shot 2015-11-27 at 5 40 18 pm](https://cloud.githubus

[2015-11-27 22:48] TJScalzo commented on #50
I'm going to look into creating ```@media``` queries (browser queries) that will check for the browser type *as well as* a certain width.

[2015-11-27 23:19] TJScalzo commented on #50
Another thing that I've tried is putting the status divs (out and sold) inside of the goal div. However, they still go to the top of the page. I *think* they way I'd fix this is by using a clear element that forces them to stay inside their parent div.
HTML
[code]

[2015-11-28 05:42] TJScalzo commented on #50
Everything about this is working properly except for the fact that the drop-downs for the About and Member Section are covered by it. In fact, you can't even use them because they disappear when you go over the raffle meter.
I've been trying to figure out how I could get the meter to go underneath them; however, due to the fact that it's made up of three divs that would go underneath each other in

[2015-11-28 07:22] TJScalzo commented on #43
I am using these colors for the raffle meter(s):
* ```#000178``` Tickets sold
* ```#FFD000``` Tickets out

[The complete series of colors](https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0,0.007196614472194168,0.7705882352941176,0.23295481417121738,0.23797583614115642,0.7705882352941176,0,0.004394879066988805,0.47058823529

[2015-11-28 07:49] TJScalzo opened #58 "Make the drop-downs not be covered by the small meter"
The drop-downs for the About, Member Section, and entire toolbar (on mobile) are covered by the small raffle meter. In fact, you can't even use them because they disappear when you go over the raffle meter.
I've been trying to figure out how I could get the meter to go underneath them; however, due to the fact that it's made up of three divs that would go underneath each other incorrectly if their

[2015-11-28 07:54] TJScalzo commented on #43
In trying to fix #58 I've realized that the color of the drop-downs is the same as the background. This doesn't make sense because this makes them just blend into the background. The drop-downs should be a different color. (Might I suggest #D4AC00?) I won't make any changes because I feel like I don't have that authority; I'm just making a suggestion.

[2015-11-28 16:06] #58 closed

[2015-11-28 17:29] #50 closed

[2015-11-28 18:38] TJScalzo commented on #36
In the small raffle meter, the background of the percent div is white with 50% opacity. Is this really necessary?
![screen shot 2015-11-28 at 1 34 42 pm](https://cloud.githubusercontent.com/assets/15825214/11453335/d6a67a7a-95d4-11e5-9c1d-bef5b1f2e485.png)
Unless there's a specific reason why the background is like this, I don't think it needs to be like that.
![screen shot 2015-11-28 at 1 36 54 p

[2015-11-28 19:03] gisellegk commented on #36
In the *achem* completely NOT theoretical future possibility *achem* where the blue area extends behind the text, it is difficult to read. That's the only reason why the white background is there.

[2015-11-28 19:04] gisellegk commented on #36
I was toying with making the meter bar taller and vertically centering the `<span>`, so that there's a border of normal color around the top and bottom... but I couldn't get it right so I figured this was good enough to ship for today

[2015-11-28 19:22] #39 closed

[2015-11-28 19:25] gisellegk commented on #39
So I can't put individual tooltips on each color because they are pseudoclasses. This fix should be fine for now...

An improvement would be possible if we re-factor the large raffle meter to be made of three separate `<div>` elements (like the small one) rather than using `:before` and `:after`. This is because the tooltip is an `:after` pseudo element, and you can only have one of each on any pa

[2015-11-28 19:29] gisellegk commented on #38
@TJScalzo @SilverSapo This is the last outstanding issue before we can go live... I can't really do much right now because I don't have a device with IE with me (Thanksgiving travelling...)

So we need to either fix this, or choose to put the meter online anyways!

[2015-11-28 19:45] TJScalzo opened #59 "Tooltip appears in one place instead of following the mouse"
I'm going to try and use something like [this](http://jsfiddle.net/HJf8q/2/) or [this](http://jsfiddle.net/q46Xz/187/) to make the tooltip follow the mouse.

[2015-11-28 21:29] gisellegk commented on #40
Going to add the small one to the default layout

[2015-11-28 21:38] #30 closed

[2015-11-29 00:22] TJScalzo commented on #39
I think having only one tooltip should be fine. I'm going to make some adjustments to the words.
**This:**
Blue: Tickets sold
Yellow: Checked out books
White: Not touched yet
**Instead of:**
Blue: Tickets sold | Yellow:
Checked out books | White:
Not touched yet :(
It makes sense for each piece of info. to be on a separate line.
**Also, I'm going to try and do what's mentioned in #59.**

[2015-11-29 00:23] TJScalzo commented on #38
I also don't have a device with IE on it. I can't do anything to help. I think putting the meter online without fixing this will be fine for now.

[2015-11-29 00:30] gisellegk commented on #39
I couldn't get them on separate lines so I did the bars instead... but if you can fix it then good :+1: I didn't try for very long lol...

[2015-11-29 00:38] gisellegk commented on #40
Add to homepage in 8f46d82.

Feel free to continue to work on the progress bars! Smash bugs ASAP because they're up for the world to see!

[2015-11-29 00:39] #40 closed

[2015-11-29 00:54] TJScalzo commented on #40
The progress div is too far down for some reason. I'm going to fix it.
![screen shot 2015-11-28 at 7 53 28 pm](https://cloud.githubusercontent.com/assets/15825214/11454793/bfd3113e-9609-11e5-8089-b7ffc0ec67b9.png)

[2015-11-29 01:06] TJScalzo opened #60 "Anything that needs to be fixed with the raffle meters"
- [x] The top margin for the large meter is weird
- [ ] The tooltip just sits in one place instead of following the mouse (#59)
- [ ] The info in the tooltip isn't formatted well
- [ ] The large meter doesn't work in IE (#38)

[2015-11-29 01:18] gluxon commented on #43
Changing the color would be a great suggestion. The original idea was to follow the design idea that menus should match the color of the content it comes from. (You'll see this idea in almost all the operating ststems, Windows 10's black menus being a prime example.) Originally, the navigation didn't overflow, which made visibility fine. Now that they do overflow, I agree, an additional border or

[2015-11-29 01:25] gisellegk commented on #43
(I mean it's worth discussing with @SilverSapo since she's the original Website project leader. But yes you can ask us for advice but we're not decision makers here!)

[2015-11-29 01:25] gluxon commented on #43
:+1:

[2015-11-29 02:40] TJScalzo commented on #39
I tried to do it for a little bit but I couldn't find the motivation to figure out how to do it.

[2015-11-30 15:18] TJScalzo commented on #36
The only thing that needs to be fixed in here is IE and that has its own issue (#38). See #60 for any other things that need to be fixed.

[2015-11-30 15:18] #36 closed

[2015-11-30 15:24] gisellegk opened #61 "Tell people about it!"
Someone should send an email to the team about the meter being on the website!

[2015-11-30 15:45] gisellegk commented on #61
Thanks @TJScalzo

[2015-11-30 15:45] #61 closed

[2015-11-30 19:03] TJScalzo commented on #61
The funny thing is that I didn't even see this! I just decided to send an email! :smile:

[2015-11-30 19:09] TJScalzo commented on #37
This seems like it'd be a great thing to do. However, the email that Mr. Barron says he linked isn't in the post above (and I can't seem to find what email this is from). Would it be possible for you to paste in the rest of the email?

[2015-12-03 02:03] gisellegk commented on #37
It is just a parent asking how their kid can join.

[2015-12-03 02:03] gisellegk commented on #37
The email was only sent to like 3 people or something

[2015-12-03 02:08] gisellegk opened #62 "Make the percentage round to 2 decimal places"

[2015-12-03 02:15] TJScalzo commented on #37
I was just hoping to use the information that Mr. Barron used. But it sounds like it's not really relevant so I'm okay.

[2015-12-03 02:20] gisellegk commented on #37
oh my god sorry! I didn't even read that line of the email lol...

[2015-12-03 02:35] TJScalzo commented on #37
Thanks, I'll see if/when I can get to creating this page.

[2015-12-03 02:38] gisellegk commented on #37
Not sure who would be interested, but this could also be a good chance to
show someone new how to contribute to the website, rather than always doing
stuff on our own.

Figured I'd mention it since it's a pretty simple task in terms of coding.

On Wed, Dec 2, 2015 at 9:35 PM, Tim Scalzo <notifications@github.com> wrote:

--
Giselle Koo

[2015-12-03 03:52] TJScalzo commented on #37
Sounds like a good idea.

[2015-12-03 17:47] gisellegk opened #63 "Remove "tickets are due" message from raffle/index.md"
Outdated information is sloppy and unprofessional... So let's make it a habit to remove old stuff ASAP :)

[2015-12-03 23:27] #63 closed

[2015-12-04 18:22] gisellegk commented on #62
nice job! :+1:

[2015-12-04 18:24] TJScalzo commented on #62
I'll add the code to the small raffle meter now. I forgot to before.

[2015-12-04 18:26] gisellegk commented on #62
I bet we can find a way to make the two meters share code (like using if statements possibly in places where they do different things) so that we don't have to fix stuff in two places...

[2015-12-04 18:34] TJScalzo commented on #62
Yeah, I'm not sure why I immediately jumped to splitting them into separate code. I'm not sure of the exact issues that I faced when trying to put them in the same file (I've wiped the bad memories away). But I feel like at least one of them was that I couldn't apply a styleSheetElement to multiple tags. Would me need to maybe make a separate sheet to be added to the code? Like this maybe?
[code]

[2015-12-04 18:36] TJScalzo commented on #62
Also, do we still need ```console.log(sheet)```? I feel like that was just for when we weren't sure if it was working. I mean, it wouldn't really change much. But it *might* speed the program up a little?

[2015-12-04 18:43] gisellegk commented on #62
(btw we should probs make a new issue lol...)

I think putting them in separate files to begin with was a totally fine move -- it helps you figure out what's going on. It's not a bad thing to go back and improve your code like we are now...

no, you are right, we don't need `console.log` . I doubt it would speed up the script by any noticeable amount but it's still clutter that we don't need.

I d

[2015-12-04 18:43] #62 closed

[2015-12-04 18:46] gisellegk commented on #62
edit again: re-reading your comment, you might have tried the thing I just suggested... sooo idk we can experiment!

[2015-12-04 18:54] gisellegk commented on #62
Ok seriously why can't I find any documentation on the `.addElementToTag` function??

[2015-12-05 04:33] TJScalzo opened #64 "Merge the two raffle meter JSs"
I'm going to try some iterations of this.

[code]

[2015-12-07 15:33] TJScalzo opened #65 "I feel like there're too many layouts"
The homepage.html and the raffle-meter.html are the exact same document. It makes me wonder if there's something special about the homepage's layout or if it can use the default (except for right now because of the raffle meter. But couldn't it just use the raffle-meter layout?) I don't understand why there are some many layouts when they're all basically the same.
**Suggestions/Questions:**
* Del

[2015-12-07 16:12] gisellegk commented on #65
homepage.html was for the potential that the homepage could look radically different (?) from all the other pages... eg. see discussion from like last spring...issues #28 #33 ???

So yeah right now it's pretty useless.

[2015-12-07 16:14] gisellegk commented on #65
Fullpage layout is used in [Team History](http://farmingtonrobotics.org/history/) to allow content to span the entire width of the screen, rather than having generous margins like the rest of the pages.

[2015-12-07 16:15] SilverSapo commented on #65
I was thinking of maybe adding some sort of slideshow for the main pages we want to show off. Right now, there's just content on it.

[2015-12-07 16:18] gisellegk commented on #65
I think improving the home page with steps like the one @SilverSapo mentioned above ^ are definitely something that we need to pursue...

[2015-12-07 19:14] SilverSapo commented on #65
I also need something on how people can join the team. As of right now, there is only contacting us through email. Are there any other steps that are needed that might require a separate page for the process?

[2015-12-07 19:18] gisellegk commented on #65
@SilverSapo see #37

[2015-12-07 19:22] SilverSapo commented on #65
@gisellegk Thanks

[2015-12-08 00:51] TJScalzo opened #66 "There are a lot of missing images"
There are a ton of images that are being pulled from off of the website (from facebook mostly) that no longer load. We need to either fix the links or find new images to replace them. The website looks unfinished when boxes with a single word in them load instead of images.

[2015-12-08 04:01] gluxon commented on #66
Did you manage to resolve this? Was this only for the hofc page?

[2015-12-08 04:34] TJScalzo commented on #66
No this is for everywhere. On the about page. On the timeline. There are missing images scattered everywhere.

[2015-12-08 04:38] gluxon commented on #66
Those images are pointing to facebook images generated by a Facebook session. Only the person that's logged in under that session id is going to be able to view them. (It's like sending someone a link to your gmail inbox.) I suggest downloading the photos and uploading them to /assets.

[2015-12-08 13:25] gisellegk commented on #66
The hard part will be figuring out what those pictures were lol.

I think the student that put the images there probably got them from the "milestones" on the Facebook page (eg., https://www.facebook.com/509649582391248/posts/524887790867427/ was probably on the about page)

[2015-12-08 13:53] #60 closed

[2015-12-08 13:54] gisellegk commented on #60
The other two things in this issue have their own threads, so I think we can close this one.

[2015-12-08 15:21] #59 closed

[2015-12-08 16:13] TJScalzo commented on #59
Hurray!

[2015-12-08 18:20] nt1st commented on #66
You could check the wayback machine on the internet archive.
On Dec 8, 2015 8:25 AM, "Giselle" <notifications@github.com> wrote:

[2015-12-08 18:22] TJScalzo commented on #66
What does that mean?

[2015-12-08 18:37] gisellegk commented on #66
@nt1st That was the first thing I tried lol... no luck :(

[2015-12-08 20:59] TJScalzo commented on #66
I did make the Gizmo image work, that's good. But I don't know what the other image is supposed to be.

[2015-12-08 21:31] gisellegk commented on #66
lol the old title was better :stuck_out_tongue:

Can we go through the entire website and make a list of where the broken images are? And at this point, if we don't know what it used to be then we should just delete it or replace it with something suitable. Probably better to have up-to-date images anyways.

[2015-12-08 22:05] TJScalzo commented on #66
I'll see if I can do that. However, I'm pretty swamped right now so maybe someone else can? @SilverSapo?

[2015-12-08 22:46] gisellegk commented on #66
Maybe we should see if there's anyone else on the team interested in doing website stuff.... I'm gonna start a google doc writing a recruitment email and share it with you guys

[2015-12-09 20:43] gisellegk opened #67 "Blue font link color is hard to read on dark blue background"
On the small raffle-meter.

I can fix this, but I'm not sure what to change it to...

[2015-12-09 21:42] TJScalzo commented on #67
Maybe make it one of the gold colors I suggested in #43?

[2015-12-10 18:18] TJScalzo commented on #67
I'm going to close this because it doesn't overlap the blue anymore. If you still think this is a problem feel free to open this again.

[2015-12-10 18:20] gisellegk commented on #67
I think it's a good habit to code for any/every possible case. Like if we were to sell 100% of the tickets, for example, then there would definitely be overlap.

[2015-12-10 18:25] TJScalzo commented on #67
I don't know what color to make. I tried different variations of gold/yellow and blue. I don't want to use a different color because it would detract from the theme. However, I'm beginning to feel like I might have to. What color(s) would you suggest?

[2015-12-10 18:36] gisellegk commented on #67
I wonder if making it bold will help?

[2015-12-10 19:55] TJScalzo commented on #67
That might work... Would that be something with text-weight?

[2015-12-11 01:46] TJScalzo opened #68 "The small meter no longer shows up"
I don't know what happened, I probably deleted something during tonight's madness of edits.

[2015-12-11 01:50] #68 closed

[2015-12-11 12:29] Therockster014 commented on #37
Did it!

[2015-12-11 12:37] gisellegk commented on #37
@Therockster014 @Therockster19  you have two accounts, haha! Let's fix that at the meeting on Monday. (we are meeting on monday right??)

Also, don't forget to click close and comment instead of just comment after you finish a task!

[2015-12-11 17:51] SilverSapo opened #69 "Make final version of the raffle meter"
Considering that the raffle drawing has passed and that we can't make any more sales, maybe change the time part to "Thanks for supporting us!" or something like that instead of just showing "No time left!". I don't think the other information has to be changed.

[2015-12-16 22:30] TJScalzo commented on #69
I've talked to Mr. Barron and Mrs. Hall about this. They're going to get back to me with what information should be on the final version.

[2015-12-16 22:43] Therockster19 commented on #37
Closing this issue

[2015-12-17 01:00] TJScalzo opened #70 "StyleSheet() doesn't work in the else statement (Raffle Meter)"
When I tested in Jekyll it gave an error when trying to run this.
![screen shot 2015-12-16 at 7 30 11 pm](https://cloud.githubusercontent.com/assets/15825214/11858390/280c386a-a42f-11e5-83c7-6cdce3e21daf.png)
I'm not really sure why it says that. Does it need something that I'm not including?

See: 0352d84606068cc2723b28efe8d95c9c548fb374 and [raffle-meter.js](https://github.com/team178/team178.gi

[2015-12-17 01:13] TJScalzo commented on #37
@Therockster19, I feel like this page should have links to the forms that they have to fill out. I also feel like it could use a header and some rephrasing of sentences. Other than those tweaks I think this is basically done. (You can use [Google](google.com) to learn how to link to the documents or even how to embed them as well as make headers.)

[2015-12-17 02:24] gluxon commented on #70
It looks like you have an `else`s at the end of that function without an if.

[2015-12-17 02:28] gluxon commented on #70
Oh, I know what's happening. In your HTML, `raffle-meter.js` is included before `modifying-css.js`. Because your last `else` is outside of the `handleQueryResponse()` function, the code is trying to execute the `StyleSheet()` function before it even exists.

If you put it back inside the function, it should start working again since the function will be ran after the page is finished loading. (And

[2015-12-17 12:30] gisellegk commented on #37
Can we make a new issue for this? This issue is just to create the page. We can suggest improvements in another one.

[2015-12-17 12:30] #37 closed

[2015-12-17 12:55] gisellegk commented on #65
Closing because there seems to be nothing more to do. @TJScalzo let me know if you think there's unfinished business with this issue

[2015-12-17 12:55] #65 closed

[2015-12-17 13:59] #67 closed

[2015-12-17 14:02] gisellegk commented on #43
(copied from commit 9b62d12)

We need to take meeting time (or something) to come up with a stronger/more flexible color palette and update design standards accordingly.

By this I mean going on photoshop and making the colors we need and defining their purposes (eg. links should have consistent colors across the board)

[2015-12-17 14:10] gisellegk commented on #66
@Therockster19 do you think you could help us with this task? Just click through the pages, and if you find a broken picture, just post the link here!

[2015-12-17 14:16] gisellegk opened #71 "Sponsor page still says ebm donates the warehouse to us"
Put it in past tense?

[2015-12-17 16:53] gisellegk commented on #64
@TJScalzo can I take a stab at this?

I think I have an idea for how to solve this, but if you wanna figure it out for yourself then I'd rather that you do it.

[2015-12-17 17:45] gisellegk commented on #70
I think I accidentally fixed this while doing some other stuff lol

[2015-12-17 17:45] #70 closed

[2015-12-17 17:48] gisellegk opened #72 "Edit content of "How To Join" page"
@TJScalzo

- [x] Rephrase sentences
- [x] Link to forms
- [x] Link to join team shared folder
- [x] Link to join email list
- [x] Link to join email list for parents
- [X] Make the email address obfuscated

[2015-12-17 18:34] nt1st commented on #65
Anyone can join our email list. The link I sent to you in an email about
the email list and the Google Drive folder are valid for all.
On Dec 7, 2015 2:14 PM, "Elizabeth Cho" <notifications@github.com> wrote:

[2015-12-17 18:43] gisellegk commented on #72
@nt1st Can you post the link for joining the email list in this thread?

[2015-12-17 18:44] TJScalzo commented on #72
I'll do it.

[2015-12-17 18:46] TJScalzo commented on #72
There:
[Team Shared Folder](https://drive.google.com/open?id=0B8-N1pSXiqwhb2diaHFIdWtoY0k)
[Email List](https://groups.google.com/forum/#!forum/farmingtonrobotics)
[Email List for Parents](https://groups.google.com/forum/#!forum/farmington-robotics-team-parents)

[2015-12-17 18:51] TJScalzo commented on #64
Go ahead @gisellegk!

[2015-12-17 19:12] TJScalzo commented on #71
I feel like we started with the fact that they donate the warehouse because it's an amazing, awesome thing for them to do. However, now that they don't do that anymore I feel like it'd be strange to leave the order the same and just change it to past tense.

[2015-12-17 19:18] TJScalzo commented on #71
Here are some options. (I personally like the first and last one; the middle one sounds awkward.)

**With the sentence removed:**

**With the sentence changed:**

**With the sentence changed and moved:**

[2015-12-17 19:24] gisellegk opened #73 "i broke something"
I swore it was working but idk I must have put an errant } somewhere or something idk.

I need to do some stuff for work but if you wanna revert my last two commits then do that :/ sorry!!!!!

[2015-12-17 19:36] #73 closed

[2015-12-17 19:45] #64 closed

[2015-12-18 12:46] gisellegk commented on #71
Maybe something like:

 "From (i don't remember when we got it) to 2015, they provided a 3,000+ square foot warehouse in Unionville, CT as a workspace for our team. Although we have since been moved out of the warehouse, we are still grateful for the hundreds (thousands? if you count Dream FIRST since it was developed there) of students who were inspired thanks to this generous donation"

Either y

[2015-12-19 01:05] #71 closed

[2015-12-20 19:43] nt1st opened #74 "Raffle page is out of date"
The Raffle is over and the page should be updated to reflect that. We will have the money count soon, but in the meantime, may as well update the page to reflect the raffle's completion. We should also remove the bar from the pages. Maybe a "raffle is over" prompt instead that links to the page.

[2015-12-20 21:53] TJScalzo commented on #74
I think this would be a great, small project for you to do @Therockster19.

[2016-01-04 21:48] #74 closed

[2016-01-06 03:08] TJScalzo opened #75 "The tooltip does some strange things"
**Things that it does weirdly:**
- [ ] 1. Shows up and doesn't go away when clicked on mobile
- [ ] 2. Forces page to zoom out on mobile
- [ ] 3. Only shows up when hovering over lower three-quarters of meter

**1.** This is a slight problem because it doesn't go away when you lift your finger. I wonder if there might be a way to disable the tooltip completely on mobile?

**2.** This is also very

[2016-01-07 14:31] TJScalzo opened #76 "Combine "Files" and "assets/img" folders"
I just found a folder that's called "files" and it's filled with random images. Are these the images that are missing (#66)? If not, why are they there? As far as I can see, only one of them is used on the site. I think they should be moved to the "img" folder for consistency's sake.

[2016-01-07 14:37] gisellegk commented on #76
Yes they should be merged and all image links should be updated appropriately. And yes, it's possible that some of our missing images are here (perhaps the person who put the images in expected them to be in /assets/img )

If memory serves me correctly, I think the files folder came about when we tried to use [Prose.io](http://prose.io/) since the kids working on it at the time were only contribut

[2016-01-13 22:55] #76 closed

[2016-01-14 01:39] TJScalzo opened #77 "Redesign/Add to Members Section"
Here is a list of stuff to do and stuff that's been done:
- [x] Forms - Embed Mrs. Hall's letter
- [x] Safety (REQUIRED) - Embed video for training (in shared folder)
- [x] Photos - Where to put them and how to take them; link to proper folder
- [ ] ~~Attendance?~~
- [x] Handbook - Embed Handbook 5.0 from Google Drive
- [x] Join (Main page)
    * Come talk to a coach
    * contactus@farmingtonrobo

[2016-01-14 01:53] #38 closed

[2016-01-14 01:54] #72 closed

[2016-01-14 02:55] gisellegk opened #78 "Add floating "sidebars" ?"
ideas:

[2016-01-24 00:26] TJScalzo opened #79 "Update/re-do the drive page for Team Drive"
Add more information on how permissions/organization works in the folder.

[2016-01-24 00:43] gisellegk opened #80 "Add information about FLL"
Clone of #24 except about FLL rather than Jr. FLL!

[2016-01-24 02:22] gisellegk commented on #80
Yay, now we have the page. Let's add content. Maybe @meganlauren1211 can give us some info about FLL.

[2016-01-24 02:29] gisellegk commented on #24
@poojpooj I added a couple sentences to your page! Let me know what you think.

[2016-01-24 02:32] gisellegk opened #81 "Remove Raffle Meter from Website?"
It's been about a month since the raffle ended. Should we remove it from the website?

[2016-01-24 02:33] TJScalzo commented on #81
I've asked for the info but no one's gotten back to me.

[2016-01-24 02:35] gisellegk commented on #81
Let's remove it then. Assigning this task to @poojpooj

[2016-01-24 02:39] #81 closed

[2016-01-24 02:39] gisellegk commented on #81
@poojpooj Good job!

[2016-01-24 02:40] TJScalzo commented on #81
Hurray!

[2016-01-24 02:42] #69 closed

[2016-01-24 02:45] TJScalzo opened #82 "Create a really cool 404 page"
Right now the 404 page is the default layout with text saying there's an error. We should make something more interesting/logical.

[2016-01-24 02:47] SilverSapo commented on #82
If we could, we could put an image of Gizmo on there holding pieces of the FIRST logo and then a 404 error. It depends on if we have an image of Gizmo we can alter or if anyone's willing to create a new Gizmo image in a similar style.

[2016-01-24 02:52] gisellegk commented on #82
I think it would be a cool (but difficult) challenge to make it 100% out of CSS shapes!

ie. http://www.bypeople.com/50-impressive-css-drawings/

[2016-01-24 02:55] gisellegk commented on #82
more examples. The last one is a tutorial kind of
http://kristriplett.com/tinker/vader.html
http://a.singlediv.com/
https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/

[2016-01-24 06:34] gisellegk commented on #82
Or use svg images? https://css-tricks.com/svg-funsville-links/

[2016-01-24 07:29] TJScalzo commented on #82
Oh wow! SVG image animationy stuff looks interesting! I wonder how difficult it'd be to learn...

[2016-01-24 18:34] gisellegk commented on #82
I've never done anything with SVG, but it looks super slick. Even if it's hard to learn I think it'd totally be worth it!

[2016-01-24 18:50] #24 closed

[2016-01-24 19:40] #77 closed

[2016-01-24 19:47] TJScalzo opened #83 "Update content to match FIRST branding standards"
There are places on the website where we reference *FIRST* incorrectly. I will try to go through and fix any issues that I find. But please feel free to look through the [*FIRST* Branding Standards](http://www.firstinspires.org/brand) and fix any conflicts.

[2016-01-24 20:05] #80 closed

[2016-01-24 21:12] gisellegk commented on #80
yay! :+1:

On Sun, Jan 24, 2016 at 3:05 PM, Anusha Patel <notifications@github.com>
wrote:

--
Giselle Koo

[2016-01-24 22:21] #46 closed

[2016-01-24 22:23] #83 closed

[2016-01-25 12:44] gisellegk opened #84 "Move HoC site to a separate repo"
It will still be at farmingtonrobotics.org/hofc, but the code won't be mixed up with the rest of the site.

[2016-01-25 12:44] gisellegk opened #85 "move Kickoff page to separate repo"

[2016-01-25 19:24] gisellegk commented on #84
Left the redirect but everything else is in the [new repository](https://github.com/team178/hofc) :)

[2016-01-25 19:24] #84 closed

[2016-01-25 19:41] #85 closed

[2016-01-25 19:44] TJScalzo commented on #84
@gisellegk, the redirect page (from /hoc to /hofc) is still in the main repository. Should it get removed and the hofc repository renamed?

[2016-01-25 19:45] gisellegk commented on #84
Wasn't sure -- I just preserved the current functionality of the site. Do you think it *should* be /hoc? cause in that case, yes let's do that.

[2016-01-25 19:50] TJScalzo commented on #45
I'll try and update is as much as possible. I think it might be getting a little crowded though. Perhaps I could make another one that's specifically about all the things that happened/are happening this season? I'm not really sure if that's needed I just think it might help with how filled it appears to be.
Also, here's the link to some sort of [template](https://docs.google.com/document/d/1pv9CW

[2016-01-25 20:00] TJScalzo commented on #84
I think it'd make more sense for it to just be /hoc. That way everything to do with Hour of Code is in its own repo without intersecting with the main one.

[2016-01-25 20:13] gisellegk commented on #45
FYI, I think @poojpooj might have been going through and at the very least, removing broken pictures and moving the others to the /assets/img/ folder, to help with #66 .

I think making a timeline for this season's events in addition to a larger-scale one is a good idea. I also think it'd be cool if we made our own timeline, so that we could make it look exactly the way we want it to. It would be

[2016-01-25 20:39] gisellegk opened #86 "Add our Team Standard to the website"
I heard we had a design floating around somewhere. Maybe we can modify the code I linked below to have ours as a part of the page header. Maybe make it look like it's hanging off the top of the page

http://cssdeck.com/labs/pure-css3-smooth-ribbon-with-borders

[2016-01-25 20:40] gisellegk commented on #86
(what's a standard? read this: https://en.wikipedia.org/wiki/Heraldic_flag)

[2016-01-25 22:56] #66 closed

[2016-01-25 23:43] #86 closed

[2016-01-25 23:45] #45 closed

[2016-01-26 00:09] #20 closed

[2016-01-26 00:16] anusha2617 opened #87 "Improve the Media page"
- [x] Add pictures (slideshow?) from recent events
- [x] Turn videos into carousel/slideshow
- [x] Change link to YouTube to look nicer

[2016-01-26 00:19] #26 closed

[2016-01-26 00:34] gisellegk opened #88 "Change the Claw image to something more Stronghold-y"
Maybe we can move the "mission statement" as the first paragraph of the home page only, and use the 2nd wider blue band to be more Medieval themed.

Let me know if you guys have ideas on how we can do this!

[2016-01-26 20:22] TJScalzo opened #89 "Make an HTML5 web app for signing in"
I know that @nt1st has talked about making something like this for a while so I decided to look some stuff up. The main idea behind the app would be for marking off your attendance but only if you're at the right location.
I found this information; I'm not sure how useful it is but  ¯\ (ツ) /¯ :
* [Mozilla Foundation](https://developer.mozilla.org/en-US/Apps/Tutorials/General/Foundations_of_an_HTML

[2016-01-26 20:24] TJScalzo commented on #87
Hey, @anusha2617 can you describe what you're going to do to improve the page? I'd like to understand what your plan is.

[2016-01-26 23:07] anusha2617 commented on #87
Hey @TJScalzo , I had a few ideas:
* there are no pictures (but there are videos), so we could possibly add some from recent events
* we could change the link to the YouTube page to make it look prettier, so there could be something like "Check out our YouTube page!" and we could link the YouTube page to the word YouTube...?
* instead of having the videos just there, if possible, we could make the

[2016-01-26 23:37] TJScalzo commented on #87
@anusha2617, you can look into the [BXSlider](http://bxslider.com) to see how you'd make the videos and/or pictures part of a slideshow.

[2016-01-27 14:49] gisellegk commented on #87
Super excited to see this come together!

[2016-01-27 23:22] #88 closed

[2016-01-28 03:58] TJScalzo opened #90 "Add Chairman's Award to Timeline"
It's important that this get added soon. Yes, I realize there's already an issue that already says this (#31); however, that's just a general issue and this is a _specific_ thing that needs be added as soon as possible.
I'm giving this issue to @poojpooj because she needs something to do.

@poojpooj, talk to people and ask around for information on the Chairman's award. Heck, while you're at it as

[2016-01-28 12:58] gisellegk commented on #31
This is currently a vague issue that is pretty much impossible to close, ever.

We need to

a. come up with specific tasks (ie. #90 )
b. outline and implement a plan/schedule as to how and when we update the timeline

so that this issue can be closed.

@TJScalzo @poojpooj you guys are in charge of this since it relates to #90.

[2016-01-28 13:03] gisellegk commented on #29
Please change the slideshow to something like "banner".  We are not using it as a slideshow, and it's confusing because we have a slideshow on the Media page.

(Even if we did implement it with a unique slide for each page I think it would still make more sense to call it a banner, unless the slideshow actually moved or something.)

Here are all the files that need to be adjusted:
https://github.c

[2016-01-28 13:16] gisellegk commented on #90
:+1: We won Chairman's at the Pioneer Valley District Qualifier in Springfield, MA last year. A lot of people cried. We had a video that was shown to everyone. It was kind of hacked together last minute, and I think a recording of me my Junior year was in it. Don't actually say that on the website please lol. Anyways it qualified us to compete at the New England District Championships. Let me know

[2016-01-28 13:26] gisellegk commented on #87
Maybe add "click here to see all of our albums" after the picture album, that links to all our Facebook albums. (((Which, by the way, means we need to actually HAVE Facebook albums..........lol.........)))

[2016-01-28 13:32] gisellegk commented on #31
suggestions:

- Mrs. Hall wins Bill Reis Award (like Woodie Flowers Award) at Where's Wolcott, an off-season event. https://www.facebook.com/FRC178/posts/933085620047640
- We went to the Hartford District Event. Didn't win anything but it's still a thing that happened.
- We qualified for and went to the NE District Championships at WPI. Competed
-  Last day at 525?
- Hour of Code?
- Jr. FLL Expo?

[2016-01-28 22:05] #90 closed

[2016-01-28 22:08] #29 closed

[2016-01-28 22:11] gisellegk commented on #29
@TJScalzo this was assigned to @anusha2617 ...?

[2016-01-28 22:25] poojpooj commented on #79
@anusha2617 and I will work on this

[2016-01-28 22:40] poojpooj opened #91 "Chairman's Award Image Link Doesn't Work"
I don't know why but for some reason the link for the image for Chairman's doesn't work on the [timeline](https://docs.google.com/spreadsheets/d/1gAQk8B-cUymb1d2vw6caLEU6keI2if1xm4RKEzc3MCI/edit#gid=0). Can someone look into it?

[2016-01-28 22:56] TJScalzo opened #92 "Remake video carousel using Slick"
The carousel we're using right now is confusing and doesn't work that well for responsiveness. Also, in Safari it has a white bar at the top. We should transition to using [Slick](http://kenwheeler.github.io/slick). It's much more responsive and seems easier to understand.

~~@anusha2617 could you please fix this? If you don't know how, I'd suggest googling it.
I've noticed that it only happens in

[2016-01-28 23:17] #87 closed

[2016-01-28 23:31] poojpooj commented on #91
never mind, github just wasn't working

[2016-01-28 23:31] #91 closed

[2016-01-28 23:44] poojpooj commented on #43
@anusha2617 & I will work on this

[2016-01-29 04:48] TJScalzo commented on #43
The contrast of the banner and the navigation bar is way off. It doesn't look very nice (sorry @anusha2617 and @poojpooj). I was thinking you could change it to ```background-color: rgba(255, 208, 0, .75);``` and the text color to ```color: rgba(255,255,255, 0.8);```.
I've looked at it with those colors on a couple computers and it looks better than what's there right now. I suggest changing to th

[2016-01-29 04:54] TJScalzo commented on #29
@Sorry, I didn't notice. I'll be more careful in the future.

[2016-01-29 12:56] gisellegk commented on #29
:+1:

On Thu, Jan 28, 2016 at 11:54 PM, Tim Scalzo <notifications@github.com>
wrote:

--
Giselle Koo

[2016-01-29 13:09] gisellegk commented on #43
I agree, the banner and the nav bar colors right now are terrible together... but white text on yellow is not very readable. We could try black text on yellow, which would be readable, but overall I don't think it's much of an improvement over the original blue of the banner.

#color struggles

What I recommend is reaching out to the team. Send an email to the list asking for artsy/design people w

[2016-01-29 13:21] gisellegk commented on #43
...I'm kind of warming up to the yellow with the blues (but with black text), but I think the blueish white clashes a lot. Maybe if we take a warmer white or a beige as our main neutral color? idk.

[2016-01-29 13:39] nt1st opened #93 "Nav bar doesn't fit in one line"
- [x] Edit names of tabs to maintain meaning, but reduce character count.
- [ ] Compress share buttons to take up less horizontal space

[2016-01-29 14:05] gisellegk commented on #93
Challenge: make the font size set itself relative to the length of the content. ie. when there's more text, the font size goes down. Might be possible to do with Javascript.

If we have super long words in our nav bar, expected behavior of the function would be to make the font size very tiny. It would be up to the designers to make sure that it's still at an acceptably legible size, but this way

[2016-01-29 15:06] gisellegk commented on #33
@Therockster19 has created a new sketch and will be working on this.

- [ ] Upload your sketch of the home page to this issue.
- [ ] Create and/or use /test page for your homepage layout/content modifications
- [ ] Upload the team picture that you found and place it in the page as you specified in the sketch.

... more to come

[2016-01-29 16:57] TJScalzo commented on #43
I think we should revert back to the original colors until we have a definitive color palette that we're using.

[2016-01-29 21:26] TJScalzo commented on #93
Going off of what @gisellegk said, you could:

- Use `@media` and then different pixel sizes for different window sizes
- Use vw as the unit for the pixel size and then `@media` for window sizes where the text would get too big/small
- You could also use some magical, pre-made JavaScript program that does everything automatically for you (probably doesn't exist but...)

[2016-01-29 22:01] Elizabeth-Cho opened #94 "Committees page kinda out-of-date"
So this page may need some updating because it mentions that we're still in 525. The other information is probably still fine.

[2016-01-29 22:25] gisellegk commented on #93
@TJScalzo You'd be surprised what JS libraries exist. Though creating one ourselves from scratch is not always a bad thing, since it will do exactly what we want it to do.

Your first two suggestions are fine, but don't get at what I was trying to say. Rather than resizing the container based on window size, I'm suggesting we resize the *font* so that it can't ever overflow to the next line. Even

[2016-01-30 01:03] TJScalzo commented on #93
@gisellegk I've no idea how it'll work and what already exists. (However, you _can_ use vw when defining font-size.)

[2016-01-30 03:54] TJScalzo opened #95 "Menu icon for mobile isn't very visible"
I just noticed that on mobile the image that serves as the menu icon does register because it's black and the background it's on is also a dark color. It should get replaced.
![image](https://cloud.githubusercontent.com/assets/15825214/12693558/44b129c0-c6db-11e5-971c-5e13a3cf80b2.png)

[2016-01-30 16:54] #95 closed

[2016-01-30 17:10] TJScalzo opened #96 "Fix nav bar's dropdowns in general"
On mobile the dropdowns have arrows but instead of pointing to the menu icon or the text they came from, they over to the right.
![image](https://cloud.githubusercontent.com/assets/15825214/12697188/dd20e97e-c74a-11e5-9205-8db8c8e9a08c.png)
![image](https://cloud.githubusercontent.com/assets/15825214/12697189/dd312140-c74a-11e5-8732-90f255e9e48e.png)

[2016-01-30 19:29] gisellegk commented on #93
Yeah I know you can use be for font size, but that still makes it relative
to the size of the screen/container, not the length of the text. I would
recommend writing a Javascript function that sets the font size after
counting the # of characters in the nav bar.
On Jan 29, 2016 8:03 PM, "Tim Scalzo" <notifications@github.com> wrote:

[2016-01-30 20:09] TJScalzo opened #97 "Create and add Jr. FLL Expo gallery to website"
Hey, @anusha2617 or @poojpooj, one of you needs to do the steps below. If you decide to do it, make sure you assign yourself so that the other knows you're doing it. The website takes images from social networks found using hashtags and collects them into an embeddable gallery thing. You shouldn't do this right away; if you do the website won't find any images. **Do this on Monday after the expo!*

[2016-02-01 15:32] TJScalzo commented on #93
Oh look what I found! [FlowType.JS](http://simplefocus.com/flowtype/) & [FitText](http://fittextjs.com/).

[2016-02-01 23:17] TJScalzo commented on #43
@nt1st, do you think there're any other issues with branding colors?

[2016-02-01 23:42] #97 closed

[2016-02-02 05:24] nt1st commented on #43
The philosophy behind my choosing of our brand colors is to achieve a reasonably close combination of primary colors to the average of our team shirts, adjusting for vibrancy. People know the Enforcers not primary from our digital media, but from seeing our shirts at events and competition. The blue and gold that we wear in real life should be the same blue and gold we wear online.

That said, we

[2016-02-02 05:27] nt1st commented on #43
I think it would be a good idea to set apart our homepage banner and our nav bar. Perhaps making the nav bar darker, or the banner darker would help.

[2016-02-02 05:29] nt1st opened #98 "Floating Nav Bar"
I've seen this all over the web, and I think it could be really cool. I think that we can technically do it. Any feedback?

[2016-02-02 05:31] nt1st commented on #94
We no longer use the committee system. We have managers of different areas of the team. Perhaps this should be reorganized to reflect that.

[2016-02-02 13:07] gisellegk commented on #98
If what you mean is a fixed-position nav bar that sticks with your screen no matter where you scroll, yes that would be very doable.

I'm partial to ones that are larger, and shrink down after scrolling. [Udacity](https://www.udacity.com/) isn't the best example but you can see their logo is larger at the top of the page and also blends in with their banner pic.

[2016-02-02 14:35] gisellegk commented on #43
This is "easy" to do but very difficult to do *well*. It's super easy to end up with a mediocre color palette by just moving the sliders up and down. I feel like I've been repeating myself on this, but we should *really* see if we can find someone who does a lot of restricted color palette art or something to help us out.

I found some of [Google's color guidelines](https://www.google.com/design/s

[2016-02-02 14:39] gisellegk commented on #43
Finally, we need to make sure that our print documents (chairman's stuff, etc.) and pit displays are consistent with these color and font standards. That's outside of the scope of the website of course but still super important.

[2016-02-02 19:10] Therockster19 commented on #43
I  was thinking for the homepage we could keep the flags in front of the future team photo. Speaking of Team photo do you guys think it's a good idea to have the team photo on the homepage?

[2016-02-02 19:13] gisellegk commented on #43
I think it's a great idea! I thought it was going to be under the banner
though... (the one with the flags and Stronghold logo thing) but whichever
looks better!

On Tue, Feb 2, 2016 at 2:10 PM, Mariah Holmes <notifications@github.com>
wrote:

--
Giselle Koo

[2016-02-03 17:55] gisellegk commented on #79
@poojpooj @TJScalzo Are we not doing this issue? If so, let's close it. Otherwise, use the "on hold" tag

[2016-02-03 19:57] gisellegk commented on #43
@TJScalzo you looked miserable yesterday so I have been experimenting with colors.... let me know what you think @anusha2617 @poojpooj @nt1st

![screenshot from 2016-02-03 14 56 12](https://cloud.githubusercontent.com/assets/3026367/12795091/753b76a0-ca86-11e5-9c25-5bb033915f4d.png)

[2016-02-03 20:12] gisellegk commented on #43
Blues:
#0F0838 - Darkest
#1A245B - Secondary
(I didn't find a need for a very light blue)

Yellows:
#FFD000 - Main
#C09000 - Dark Gold
#fcff5f - Pale Gold

box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);

Fonts:
White -   color: rgba(255,255,255, 0.8);
Hover White -   color: rgba(255,255,255, 1);

Black is default black (#000000 or rgba(0, 0, 0, 1) )

Background is just white (#FFFFFF)

[2016-02-03 20:17] TJScalzo commented on #43
@gisellegk that looks wonderful! Unless you've already done it, I'll get started on applying those colors into main.css.(?)
**Two Questions:**
- What do you think the combination of colors for the dropdowns should be when on mobile?
- How/where did you apply the box-shadow?

[2016-02-03 20:20] TJScalzo commented on #79
@gisellegk, according to several people we've talked to: "Explaining the organization of the drive isn't something that can be done easily." I might just add a line that says not to mess with any files unless you've talked to the people who are using them.

[2016-02-03 23:36] TJScalzo commented on #96
The secondary dropdowns should either be a different color from the main nav bar dropdown or come out the side rather than down.

[2016-02-03 23:37] gisellegk commented on #43
For the record:
- Committed changes so colors are all set. Sorry forgot to mention in commit message -- 8896520
- We should just make the mobile drop downs not overlap the rest of the navigation
- Box-shadow is applied as inset shadow on top of Banner and outer shadow at bottom of Banner.

[2016-02-03 23:37] TJScalzo commented on #43
I'm marking this as complete. Any new problems should be made known in their own issues. I will be working on the dropdowns for the mobile site through issue #96.

[2016-02-03 23:37] #43 closed

[2016-02-03 23:39] TJScalzo commented on #96
Copied from #43:

[2016-02-03 23:42] gisellegk opened #99 "Adjust Flag positioning for large screens"
Here is a screenshot from a very pretty iMac with a nice big screen at RIT:
![screen shot 2016-02-03 at 2 19 12 pm](https://cloud.githubusercontent.com/assets/3026367/12800768/8c6ddfb0-caa5-11e5-9444-5cff60738d13.png)

Lauren said the flags look weird when they're all the way on the edge of the page, since the rest of the stuff on the site is in the middle.

Preferrably, the flags should hang righ

[2016-02-04 00:33] gluxon commented on #98
Worth trying for a while. It would be just a few lines of code to the #header element.

https://developer.mozilla.org/en-US/docs/Web/CSS/position#Sticky_positioning

[2016-02-04 00:37] gluxon commented on #43
Love this.

[2016-02-04 03:34] TJScalzo commented on #99
I'll look into implementing this.

[2016-02-04 03:35] TJScalzo commented on #98
If we get this to work the flags could also move down with the navigation bar. (?)

[2016-02-04 14:46] gisellegk opened #100 "Members Section Landing Page"
I think a landing "home page" for the members section would be nice

Right now /members is the How To Join page, and I think it might make more sense to make that at /members/join or something.

Then the landing page can start off directing interested students and parents of new members to their respective pages, then have a section for current members with short summaries and links to the member

[2016-02-04 14:55] gisellegk opened #101 "How to scan papers and turn them into a .pdf."
The anchor link is nice, but also a little confusing since it just plops you in the middle of the page and it's not obvious what you should be looking at. Maybe we can turn this into a floating box or sidebar or something, then include it in both the How To Join and Forms page?

[2016-02-04 14:58] gisellegk opened #102 "The footer doesn't stick to the bottom of the page"
In really short pages (eg. `/members/drive`, ` /members/photos`) the footer sticks to the bottom of the content. Then, there is white space between it and the bottom of the window.

[2016-02-04 15:41] gisellegk opened #103 "Externals Bar -- hover resize glitch"
Only tested this on Chrome.... When you hover over the icons from the top, they behave as expected:
![screenshot from 2016-02-04 10 01 23](https://cloud.githubusercontent.com/assets/3026367/12819745/42987258-cb2a-11e5-8061-4d5f673e873a.gif)

However, when you hover from the bottom, it does this weird thing where the icons get displaced (moving the entire nav bar) and then going back and doing what

[2016-02-06 04:50] TJScalzo opened #104 "The Calendar doesn't keep its ratio when scaled (mainly on mobile)"
This can be remedied by using a container div with a class whose CSS does something similar to what's done for documents and videos. I'd like either @poojpooj or @anusha2617 to assign herself and look into what I'm talking about. Look in custom.css at the bottom for the classes that style the documents and videos.

[2016-02-09 23:31] #96 closed

[2016-02-09 23:38] TJScalzo opened #105 "Make menu-toggle rotate when dropdowns appear"
I'd like it to make it so that the menu toggle actually _toggles_ when the menu shows up. I'd like it to rotate 90 degrees so that the gaps between the rectangles are vertical. My logic in that it's a drawer that unlocks when the toggle rotates that lets the dropdowns appear. The toggle would not rotate back until the dropdowns are made to go away. The vast majority of work for this will probably

[2016-02-10 01:38] gisellegk commented on #96
Woohoo! :tada:

[2016-02-10 23:47] #104 closed

[2016-02-11 00:00] TJScalzo commented on #102
I attempted to fix this last meeting but the things I found on the internet didn't provide solutions that worked. This was due to the fact that the footer doesn't have a set height. However, even when I set one it still didn't work. I leave this issue in your care @gisellegk.

[2016-02-11 13:15] gisellegk commented on #102
Haha yeah, I tried a couple things and it does some funky stuff... I'll take a closer look today

[2016-02-11 23:11] #101 closed

[2016-02-12 00:44] TJScalzo commented on #99
I've been messing around with flexboxes and nothing seems to work exactly right. I'm thinking that what we could do instead is just use a bunch of `@media` tags that change the width of the banners for different monitor widths.

[2016-02-12 15:47] gisellegk commented on #99
Yeah I think @media would work. I would try to add to the existing screen sizes.

[2016-02-12 16:07] gisellegk commented on #102
@TJScalzo @anusha2617 @poojpooj the changes are live. Can you check on IE/Edge and Safari? I tried Chrome on Android and Firefox and Chrome on Ubuntu. I think it should be fine for modern browsers...

The issue was a white bar below the footer on the [Drive](http://farmingtonrobotics.org/members/drive/) and [Photos](http://farmingtonrobotics.org/members/photos/) pages.

[2016-02-12 16:58] TJScalzo commented on #100
@rop2000 I would suggest asking things inside of this issue rather than emailing me. That way you can get the opinion of everyone, rather than just my own. I would suggest reading @gisellegk's comment at the top of this issue for information about what to add.

[2016-02-12 20:12] TJScalzo commented on #102
Everything appears to be fixed... However, I'd test it on a larger display just in case.

[2016-02-12 20:37] TJScalzo commented on #103
The problem I've identified is that the margin of the `a tags` gets altered when they get hovered. This is done so that the height of the navigation bar doesn't change when the image enlarges. We run into the problem where weird stuff happens because the `a tag` gets hovered over before the image does. This means that the margin changes; moving the image up before it can be hovered and thus enlarg

[2016-02-12 21:45] TJScalzo commented on #99
I figured out why a problem that I was running into in trying to fix these was happening. I haven't actually made a way to do stuff yet... I'll hopefully have it done by the end of this meeting?
**Cool thing:**
By adding `transition: margin .5s` to the flags' CSS makes them slide between the Media queries instead of jumping to them. So... There's a cool thing...

[2016-02-12 22:42] rop2000 commented on #100
So, if there is any information that you guys feel should be added to the Member Section homepage, just let me know. As Giselle said, we should add a few sentences including a link for anyone who wants to join, parents and current members to make navigation easier. This will all be done hopefully by today.

[2016-02-12 23:54] #99 closed

[2016-02-13 00:25] rop2000 commented on #100
Finally finished! Homepage for the member section is completed and how to join page has been added under member section category

[2016-02-13 00:26] #100 closed

[2016-02-13 02:57] TJScalzo commented on #102
I've tested on larger monitors; everything appears to work! Hurray!

[2016-02-13 02:57] #102 closed

[2016-02-13 03:27] TJScalzo opened #106 "Navigation vs. Page Titles Confusing"
When you're on /about the title says "The 2nd Law Enforcers." Also, clicking "About" brings you to the same page as clicking "The Team."
**List of pages that are confusing:**
- [x] /about - "About" & "The Team" - The 2nd Law Enforcers
- [x] /history - "Team History" - Competition History and Robots
- [x] / - "Home" & "ENFORCERS" - About the Team
- [x] /dreamfirst - "Dream FIRST" - (No title)
- [x]

[2016-02-13 03:57] nt1st commented on #93
After the character count was reduced, and various other commits were made, the Nav bar resizes until it turns into a hamburger fairly well. The issue isn't as much the fonts as it is the social buttons' tendency to arrange in to a row of 4 and one row of 1. I don't really know enough to fix this right now.

[2016-02-13 04:12] TJScalzo commented on #93
The external links bar could probably be fixed to your specifications with one or two `@media` queries. I'll see if I can fix it tomorrow.

[2016-02-13 22:59] rop2000 commented on #106
We should just remove the "The Team" Sub-Category since it should technically be the About tab homepage

[2016-02-13 23:22] rop2000 commented on #106
I have fixed all the inconsistencies within the various pages.

[2016-02-13 23:24] gisellegk commented on #106
@rop2000 Can you reference this issue when you commit so that we know what you did? Just add "#106" anywhere in your commit message (because this is issue #106) and it will automatically link it here.

[2016-02-13 23:26] gisellegk commented on #106
@rop2000 Alternatively, since you've already made the commits, you can comment on those commits with #106

[2016-02-14 03:22] rop2000 commented on #106
Okay, I'll make a mental note to do that from now onwards. Thanks.

[2016-02-14 03:25] gisellegk commented on #106
cool. :+1:

On Sat, Feb 13, 2016 at 10:22 PM, Rohan <notifications@github.com> wrote:

--
Giselle Koo

[2016-02-14 03:38] #106 closed

[2016-02-14 15:54] rop2000 commented on #82
I am working on an SVG Banner animation that we could use for the website so I can try out an animated css gizmo too

[2016-02-14 18:00] TJScalzo opened #107 "Create CSS based SVG animation for use anywhere on site"
@rop2000 you seem very interested in doing this. However, you seem to be focused on a great many things other than this. I think it'd be great if you spent all of your time on this. The more focused you are, the sooner it'll be finished. By spreading yourself thin between multiple issues you're not focusing on this project.
**Things to animate:**
- [x] Animated flag for in navigation bar
- [ ] Ani

[2016-02-15 02:41] rop2000 commented on #107
@TJScalzo Okay, that sounds good. I am assigned on multiple things but I am doing them one at a time so its focused and the work is good as well. Since I have started a project based on SVG animation, I will focus on this issue first, as you have recommended.

[2016-02-16 19:19] TJScalzo opened #108 "Insets on flags aren't positioned correctly"
They're shifted over to the right for some reason. This is probably something that can be fixed with a simple CSS margin. But I don't feel like doing it right now so I put this out into the world for someone else to do.

**REMINDER:** Check your code before committing it, reference this issue, and comment properly!

[2016-02-16 20:01] #103 closed

[2016-02-17 22:02] TJScalzo commented on #108
Here's a screenshot of what I'm talking about:
![screen shot 2016-02-16 at 2 15 20 pm](https://cloud.githubusercontent.com/assets/15825214/13126377/358c4814-d598-11e5-9b5b-420ec202b608.png)

[2016-02-17 22:25] #108 closed

[2016-02-18 00:45] #105 closed

[2016-02-28 03:54] TJScalzo commented on #93
Maybe [this](https://gist.github.com/andrewbranch/6995056) could help?
(Is this even still a problem?)

[2016-02-28 04:06] gisellegk commented on #93
http://www.metaltoad.com/blog/resizing-text-fit-container
??????????

I have no idea.... I'm too tired lol

[2016-02-28 04:19] TJScalzo commented on #93
It'd be cool, but I also think it's more trouble than it's worth.

[2016-03-01 01:58] TJScalzo opened #109 "The nav bar is doing weird things on OSX Yosemite"
I'll update this later with pictures and stuff. Let's just say, it's weird.

[2016-03-08 21:31] TJScalzo opened #110 "Revamp use of layouts and includes"
We have a bunch of duplicate layouts that could be done differently. There are also several includes that could be integrated into the layouts. I'm going to try and model some of the things after how things are done [here](https://github.com/tholman/inspiring-online).

[2016-03-14 21:04] TJScalzo opened #111 "Make large raffle meter based on divs and not :before and :after"
I think [this](http://codepen.io/whage/pen/ljLHn) might help with this? I'll look into it.

[2016-03-14 21:47] TJScalzo commented on #111
I've turned [this](http://codepen.io/whage/pen/ljLHn) into [this](http://codepen.io/TJScalzo/pen/eZBpEQ). Can @SilverSapo, @poojpooj, @anusha2617, and @gisellegk tell me what you think? I feel like it could be implemented fairly easily. We could also (probably) apply a tooltip to each part.

[2016-03-14 22:24] gisellegk commented on #111
@TJScalzo Awesome!

[2016-03-15 01:26] poojpooj commented on #111
I really like it!!

On Monday, March 14, 2016, Tim Scalzo <notifications@github.com> wrote:

--

The documents accompanying this fax or e-mail transmission, including any
attachments, are for the sole use of the intended recipients and MAY
contain confidential school, health or other information that is legally
privileged. The authorized recipient of this information is prohibited from
disclosing

[2016-04-11 14:55] TJScalzo commented on #94
So... how should this be restructured? I'm not really sure what you want it to look like now, @nt1st. I can at least assume you want it to be called something other than Committees, though I'm not sure what you want it changed to.

[2016-04-20 19:08] gisellegk commented on #94
@TJScalzo @nt1st wondering if there's a draft of bylaws with descriptions of the manager system floating around somewhere??

[2016-04-21 02:38] TJScalzo commented on #94
@gisellegk Not as far as I know. Although, I'm not really in any position where I would know if there were. This sits on @nt1st's shoulders now.

[2016-04-22 22:46] nt1st commented on #94
Hi Guys,
@TJScalzo There are draft documents with descriptions of the Manager system, and the management areas. This page would best be restructured with a replacement of the Committee names with the new management area names. Here are the nine area names.

1. Robot Components
2. Robot Support
3. Team Member Support
4. Fundraising
5. Dream FIRST
6. Programming
7. Public Relations
8. Media Producti

[2016-05-04 22:14] TJScalzo commented on #111
Okay... I've made an attempt to turn the Pen I made into something that works on the website. I have failed very miserably. I feel like I need someone like @gisellegk who I can talk to while I do it. Otherwise I will make mistakes and forget how things worked when we first made the raffle meter. The other thing I need help with is making the code I wrote work with the small raffle meter.

TL;DR: I

[2016-05-11 22:33] TJScalzo commented on #109
Okay, I've checked the site on that OS recently and it seems to have fixed itself. Imma close this.

[2016-05-11 22:33] #109 closed

[2016-05-11 22:35] TJScalzo commented on #89
@nt1st would it be possible for you to look into this? I realize that it's very unlikely you'll have the time but I thought I might as well ask.

[2016-05-18 13:47] TJScalzo opened #112 "Make link to raffle not show up on raffle page"
I think something like this would work: (?)
[code]
I'm not sure if using Liquid would work in Javascript but I feel like it should.

[2016-05-18 16:58] gisellegk commented on #112
@TJScalzo I'm not sure if Liquid will work in Javascript. I feel like it won't, but it's definitely worth a shot.

[2016-05-18 16:59] gisellegk commented on #93
https://css-tricks.com/flexbox-truncated-text/ saw this on the internets. thought it might be useful, if not for this, then for something else lol

[2016-05-18 18:21] TJScalzo commented on #112
@gisellegk Yeah, I'm not sure. I feel like it should because it's injecting the Liquid into the HTML. The problem it probably will run into is the HTML loads after the Liquid runs through it to check for stuff to do.
I'm going to test it and see.

[2016-05-18 19:15] TJScalzo commented on #112
I've found a solution!

[2016-05-18 19:17] #112 closed

[2016-05-25 04:59] TJScalzo opened #113 "Add dyslexic font option"
#### Things left to do:
- [ ] Use specific style sheet with Open Dyslexic because it messes with the spacing (?)
- [x] Find way to change font inside of popup for when they change to Open Dyslexic
- [x] Add toggle switch to change settings
- [x] **Add functionality on mobile:**

<hr>
Basically, add a button somewhere that sets all of the fonts on the site to [Open Dyslexic](http://opendyslexic.org

[2016-05-25 11:34] gisellegk commented on #113
Yesss! I saw a feature like this on [an author's website](http://www.lyndamullalyhunt.com/) (scroll to the bottom) and thought it was a great touch.

[2016-05-25 11:49] TJScalzo commented on #113
The main problem I can see is that if you navigate to a different page the original font will be used. Somehow we'll need to store their choice of font. Maybe cookies?

[2016-05-25 12:17] gisellegk commented on #113
yep, cookies are a good way to go for something like this.

I haven't done much with cookies aside from picoCTF but here's a resource I used that hopefully will help: http://www.quirksmode.org/js/cookies.html

[2016-05-25 12:57] TJScalzo commented on #113
@gisellegk Having read through that page, I think it'll work. I'll see if/when I'll be able to work on writing this.

[2016-05-26 17:04] TJScalzo commented on #113
### Premade popup to use because I'm lazy and don't feel like coding one myself:
https://limonte.github.io/sweetalert2

[2016-05-26 17:05] TJScalzo commented on #92
We could try and use [this](http://kenwheeler.github.io/slick/) instead. It seems like it'll be easier to use. Maybe look into it @anusha2617.

[2016-05-30 01:11] TJScalzo commented on #113
I've got almost everything working. The main problem that I'm facing is actually the way that I change/check the font family.
[code]
It looks like it should work. But it keeps throwing this error:
[code]
The error is thrown right after `style` and before `.fontFamily`. from my googling I've found that that error probably means it can't find the element that's been specified. I'm not sure why that

[2016-05-30 19:02] TJScalzo commented on #113
Never mind, @gisellegk, I've figured it out. This works:
[code]
Now all I need to do is add `Open Dyslexia` as a font on the site and make sure the cookies work the way I'm pretty sure they do.

[2016-05-30 19:26] gisellegk commented on #113
@TJScalzo glad you figured it out!

[2016-05-30 22:06] TJScalzo commented on #113
I think [this](http://www.bootstrap-switch.org) would work well as a toggle switch. I'll look into it more.

[2016-06-01 02:15] TJScalzo commented on #113
#### Things left to do:
- [ ] Find way to change font inside of popup for when they change to Open Dyslexic
- [ ] Add toggle switch to temporarily change the font ([X](http://www.bootstrap-switch.org/))
- [ ] Add button for showing popup to change settings
- [ ] Use different style sheet for when Open Dyslexic is used because it messes with all of the spacing?

[2016-06-03 21:29] TJScalzo commented on #113
I'm going to do this to toggle the font temporarily. Do you see anything wrong with how this'll work @gisellegk?
[code]
[code]

[2016-06-04 01:33] gisellegk commented on #113
@TJScalzo is "font" defined as a global variable/outside of the two functions?

it might be better off if you make font a local variable in toggleFont and pass it as a parameter in setFontSwitch.

I'd say try it! it will probably work, and it's fine if you ignore the above suggestion, i just usually like to avoid global variables, i guess for security and namespace reasons but it's not particularl

[2016-06-04 03:05] TJScalzo commented on #113
@gisellegk yeah, `font`'s used as a global variable. It's mainly to make it easy for me to test everything. I also have it as a global variable because `setFontSwitch` will be run when the page loads to set the toggle switch correctly based on what `font` is elsewhere in the code. I'm not sure how easy it'd be to make `font` into a local variable and still make it possible for `toggleFont` to dete

[2016-06-05 00:34] gisellegk commented on #113
@TJScalzo Is it possible just to get it from the CSS?

like here

`(document.body.style.fontFamily = "Open Sans")`

also == not = but you might have already caught that lol

[2016-06-05 01:27] TJScalzo commented on #113
@gisellegk That'd definitely work. I didn't do it that way because I was worried about how much it'd add to load time. I assume it won't be much.

[2016-06-05 01:43] TJScalzo commented on #113
Hurray! I did it @gisellegk!

[2016-06-05 01:48] gisellegk commented on #113
yay! btw, i can't see the toggle button for some reason. I'm on chrome on
ubuntu. IDK

On Sat, Jun 4, 2016 at 9:43 PM, Tim Scalzo <notifications@github.com> wrote:

--
Giselle Koo

[2016-06-05 02:01] TJScalzo commented on #113
@gisellegk I've commented it out for right now because I don't want things being seen yet. I'm still working on styling the switch to look nice, then I'll make things public. Another thing that's commented out is the code that has `fontCookieCheck` run when the page loads.

[2016-06-05 20:42] gisellegk commented on #113
OK, cool, got it!

On Sat, Jun 4, 2016 at 10:01 PM, Tim Scalzo <notifications@github.com>
wrote:

--
Giselle Koo

[2016-06-07 02:10] TJScalzo commented on #113
A start on how to style the switch? ([X](https://www.sitepoint.com/css3-toggle-switch/))

[2016-07-31 06:06] TJScalzo commented on #113
I've made this: [X](http://codepen.io/TJScalzo/details/rLAvLR) It's much easier to work with and is simpler. It's all CSS!

[2016-08-01 22:12] TJScalzo commented on #113
@gisellegk basically everything's done with this. I'd love it if you could look everything over and see if you can find any problems. You'll just need to un-comment out the toggle and button in the footer and the line at the bottom of change-font.js for everything to work. Let me know if there are any problems at all.

The last thing I'd like to try and do is make another css file that alters styl

[2016-08-02 23:53] TJScalzo commented on #113
@gisellegk I've set up [this page](http://farmingtonrobotics.org/test/) to serve as a place to test everything out. I was going to use [/website-testing](https://github.com/team178/website-testing) but since it's a different repo Jekyll layouts and includes work differently.

[2016-08-11 20:21] gisellegk commented on #113
hi i'm just checking out that test page, is it supposed to have the
modals/popups or is it just the toggle button?

The toggle button seems to work fine (of course I can't switch pages) but
the debug cookie buttons aren't doing anything

wait-- i got the pop up to come up and IDK what I did.

On Tue, Aug 2, 2016 at 7:53 PM, Tim Scalzo <notifications@github.com> wrote:

--
Giselle Koo

[2016-08-11 20:23] gisellegk commented on #113
OK now I refreshed the page and the cookie says "true" but the font is
regular? I need to check this on my laptop...

On Thu, Aug 11, 2016 at 4:21 PM, Giselle Koo <gisellegk@gmail.com> wrote:

--
Giselle Koo

[2016-08-11 21:44] TJScalzo commented on #113
@gisellegk The only thing that will actually be on the site is the toggle switch. The function run by "Check for Cookie" will be run every time the page loads (it doesn't right now because it'd also affect the main site).
If the cookie checker doesn't find a cookie it should show a modal of some kind asking you to set the font. If it sees a cookie it sets the font and the toggle to that font and d

[2016-09-08 18:08] TJScalzo commented on #110
One way to organize the includes would be to make sub-folders to separate them.

[2016-09-16 23:27] #92 closed

[2016-09-22 17:16] TJScalzo commented on #94
Now that we've migrated back to the committees system the page is most likely fine. However, it could probably do with some slight updates in regards to the descriptions.

[2016-10-05 20:56] #113 closed

[2016-10-12 05:09] gisellegk opened #116 "Drop-down menu difficult to use"
Hey I'm on a Windows 10 PC using Chrome and the hover drop-downs appear but when I move the mouse to go into the menus, it stops "hovering" over the parent button, thus making the menu disappear.

[2016-10-12 05:11] gisellegk commented on #116
Update: it's only the "About" tab and if you mouse over the little triangle the menu goes away.

if you go over the "disconnected" area it is fine

[2016-10-12 05:22] TJScalzo commented on #116
Note: This doesn't happen on Macs. Therefore, I am unable to test or fix this. Someone who has a PC running Windows 10 will need to.

[2016-11-17 21:36] TJScalzo commented on #75
This issue has been resolved. Basically, we got rid of the tooltip. Crazy right?!

[2016-11-17 21:36] #75 closed

[2016-12-08 23:11] TJScalzo commented on #107
I'm just going to close this since it's been a while and no work has been done on it. Also, the website doesn't really need this anyway.

[2016-12-08 23:11] #107 closed

[2017-01-01 14:48] gisellegk opened #117 "Jekyll reference link has changed"
I went to this page because i need to set up my new machine, but it redirects to a less straightforward page. To get the instructions I'm used to seeing, I used the [Wayback Machine](http://web.archive.org/web/20150218014622/https://help.github.com/articles/using-jekyll-with-pages/) but I recommend updating the README with a more current page with these instructions or creating our own set of inst

[2017-01-02 02:16] #117 closed

[2017-04-09 20:45] TJScalzo opened #119 "Create new photo slideshow for media page"
I broke something on the Facebook page and now the slideshow that was embedded on the Media page is empty.

Use [Slick](http://kenwheeler.github.io/slick/), http://photoswipe.com, or something. I don't really care; just get something up there that works and doesn't break when a Facebook album gets edited.

[2017-08-24 03:01] TJScalzo commented on #98
It seems like `position: -webkit-sticky` will work for this feature.

However, the new problem I've found is a very interesting one. When you set this property it causes the font-weight to become thinner on Safari because of the reasons given [here](https://stackoverflow.com/a/12350204). The semi-transparent pixels that the nav/header has is the shadow created using `border`.

[2017-08-29 04:28] #93 closed

[2017-08-29 04:28] #98 closed

[2017-09-13 18:59] TJScalzo opened #121 "Large Raffle Meter Text Outline"
Make it look nicer. [This](https://css-tricks.com/adding-stroke-to-web-text/) will probably work.

[2017-09-13 21:06] TJScalzo opened #122 "Higher Resolution Favicon(s)"
According to [this](https://realfavicongenerator.net/favicon_checker?protocol=http&site=farmingtonrobotics.org) we need more than just the 16x16 favicon we have right now.

I'll eventually go through the process [here](https://realfavicongenerator.net) to generate all the files it recommends.

[2018-10-05 04:13] TJScalzo opened #124 "Fix Enforcers Logo"
I don't think this needs much explanation... I've made it more complicated than it has to be in the navigation bar. It should just be a png or svg.

[2018-10-05 04:16] TJScalzo opened #125 "Fix Content of Committees Page"
I realize that very few people are going to get their information from the website. But if they do, it should at least be well-written and in line with our [bylaws](https://drive.google.com/a/fpsct.org/file/d/1_gJCg4wVIr4S9i7tyzx4c15rLQtCzbIU/view?usp=sharing).

[2018-10-16 02:56] TJScalzo commented on #124
Closed by 4b88989440b60d0e6766d9b07563c586156211a4

[2018-10-16 02:56] #124 closed

[2018-11-20 23:37] TJScalzo opened #126 "Fix typos on Committees page"
Self explanatory

[2018-11-20 23:39] EkVasilyeva commented on #126
Okay, I will do that later.

[2018-11-20 23:48] #126 closed

[2018-11-20 23:56] EkVasilyeva commented on #116
I have a Windows 10 and I just checked that. I opened the page in Google Chrome, but I don't see any issue.

[2018-12-04 22:58] EkVasilyeva commented on #119
Work on this with me:

atom://teletype/portal/f1e64cc1-c92e-4a9b-882d-af0b2cc2627a

[2018-12-04 23:29] TJScalzo opened #128 "Embedded YouTube videos don't load in some browsers"
This has been noticed in FireFox and Google Chrome. It doesn't seem to be an issue on Safari.

The iframe loads with a "Secure Connection Failed" message.

<img width="794" alt="screen shot 2018-12-04 at 6 27 53 pm" src="https://user-images.githubusercontent.com/15825214/49479829-70b73000-f7f2-11e8-9a4f-713c712c858b.png">

[2018-12-04 23:34] TJScalzo commented on #128
When I refreshed the page it fixed itself. But @EkVasilyeva is still seeing the issue. It might be something to do with the school's internet blocking youtube-nocookie.com for some reason.

[2019-09-04 18:39] TJScalzo commented on #125
Considering we now have the bylaws on the site, it may be possible that this page is no longer needed entirely. It might be more pertinent to explain our team structure/"disciplines" slightly and invite visitors of the sight to learn more by reading the relevant sections of the bylaws/appendices.

[2019-09-04 18:40] TJScalzo commented on #94
I'm closing this because its contents are out of date and irrelevant to the current team structure. See #125.

[2019-09-04 18:40] #94 closed

[2019-09-04 18:42] TJScalzo commented on #110
This was a good idea that never was followed through on. If anyone is interested in tryin this out, please feel free to reopen this issue.

[2019-09-04 18:42] #110 closed

[2019-09-04 19:37] TJScalzo commented on #111
Considering I'm no longer part of the team and the raffle meter was my baby, I'm going to close this issue for now. But if someone has the skill, interest, and time to try and renovate the very base structure of how the raffle meter functions, please feel free to reopen this issue.

[2019-09-04 19:37] #111 closed

[2019-09-06 16:01] TJScalzo opened #134 "Several pages of Members section are out of date"
I noticed these issues when I saw @darrenkwee2 edited parts of the members section recently. If I were still on the team I would fix these issues on my own without consulting anyone. But I'm not part of the team anymore and it would be weird for me to change the content of the website without anyone's input now.

So I'm just making you aware of these issues so that you can decide how best to resol

[2019-09-06 16:10] TJScalzo commented on #134
Issue #77 is where I tracked/explained each of the pages as I was creating the Members section. T
Since this section was first created in 2016, there have been many changes in the team's structure and Google Classroom and Team Drive that I attempted to reflect in periodic updates. But I never took a wholistic look at the section again and made sure its pages referenced each other correctly.

[2019-09-06 16:16] TJScalzo commented on #134
One last thing before I leave this issue alone. There are a lot of elements that go into maintaining a website. It can be easy to forget about things when there are so many moving parts. That's what allowed pages of the Members  section to link to pages that no longer exist, I forgot about the. That being said, I probably know the most about this website and what goes into maintaining it. So, I wo

[2019-11-21 13:39] TJScalzo commented on #79
This issue is covered by #134 which is more general.

[2019-11-21 13:39] #79 closed

[2019-11-21 13:48] TJScalzo commented on #125
This issue should have been closed when I submitted fcc0a3b.

[2019-11-21 13:48] #125 closed

[2019-11-21 14:00] TJScalzo commented on #125
The main question that this issue raised is whether there should be a static page where the disciplines are listed and explained in a similar way as the committees page did previously. It would be relatively simple to create since there is an abundance of information in [Appendix III](https://docs.google.com/document/d/1fI1JggVv-j-ha2wHPSy2AQ6wjGsv7SckU0j2RfwldYQ/edit#) of the bylaws.

[2019-11-29 18:02] #122 closed

[2019-11-29 18:37] EkVasilyeva opened #138 "Making "Meet Coaches & Mentors" page cool"
Hai. So I'm recently worked on a  new section of our page about our awesome mentors and coaches. The idea I got from this team's website: https://techtigers3654.org/page/mentors . I want to create something similar to that, so now I'm taking all info to fill the table. Specifically, I need help with:
1. What else can we add?
2. How to make it look interesting/cool?
3. What else can we add on this

[2019-11-30 18:55] TJScalzo commented on #138
I think it's coming along very well. It looks nice with the simple styling of the table. It would be interesting if we could include a headshot or some kind of photo of each person too.

One part of the content that I would check is whether the position for each mentor/coach is correct.
I would take a look at Article VIII of the Bylaws and read the definitions of each position. Talking to each of

[2019-11-30 18:55] TJScalzo commented on #138
My other suggestions pertain to how the page fits into the structure of the site and other small nitpicks:
1. Remember that you can define a title for the page in the front matter of the file just like you defined the layout. The title of the page, the name used in navigation, and the URL don't necessarily have to match. But they should all have a level of consistency.
2. For example, in the [FIRS

[2019-11-30 18:56] TJScalzo commented on #138
All in all, I really like the direction this project is going. I'm glad to see both @EkVasilyeva and @FiveBillionHies are working together on this. Each of you has experience that is important to this project. I hope you can continue to work together and ask for each other's help when necessary.

[2019-11-30 19:29] TJScalzo opened #139 "Update pages in FIRST section"
This issue focuses on writing new copy for each of the pages below. This is a good issue to give to someone who isn't comfortable writing code, but is interested in helping update the website. Theoretically, someone could write the copy for the pages in a Google Doc and someone who's familiar with code would just have to copy the text into the code and format it using Markdown. (For example, _FIRS

[2019-12-01 18:18] TJScalzo commented on #139
### [_FIRST_ Page](http://farmingtonrobotics.org/first/)
The _FIRST_ page itself is mostly fine. The first two paragraphs can stay the same since they talk about the history of _FIRST_. But the last paragraph talks about FRC in a greater level of detail than the actual FRC page. It should probably be replaced with a brief summary of each of the programs that _FIRST_ offers, link to our pages on ea

[2019-12-24 03:36] EkVasilyeva commented on #138
I think that we need to write a little paragraph about our mentors & coaches and how they impact our team and put on the top of the page. Since I'm not strong in English grammar, punctuation, and I'm in general not strong in writing, I don't think I'm a good candidate for this. What do y'all think?

[2019-12-24 03:52] TJScalzo commented on #138
I think a quick summary or expression of thanks to mentors and coaches at the beginning of the page is a great idea!

[2019-12-24 05:54] gisellegk commented on #138
@EkVasilyeva I think you could at least start a draft and get some other people to help you with grammar and editing! But also getting more people involved is a good thing too - no need to do everything yourself :D

[2019-12-24 05:59] gisellegk commented on #138
Another suggestion - we have 2 woodie flowers award winners... why not brag about it on this page?

[2020-01-10 13:54] EkVasilyeva commented on #139
Once @darrenkwee2 will be done with expo, we will work on updating this.

[2020-04-23 22:02] TJScalzo commented on #138
It looks like this issue is close to being finished! From what I can see, there are three main things that need to be done:
- [ ] Finish writing summary paragraph
- [ ] Brag about our Woodie Flowers winners somewhere (?)
- [ ] Move this page's folder inside the `about` folder _(like the other pages in the about section)_

[2020-04-24 12:26] #138 closed

[2020-09-06 17:15] TJScalzo commented on #134
### Embedded Google Docs can't be saved or accessed meaningfully
This issue can be seen on the [Handbook page](http://farmingtonrobotics.org/members/handbook/) and the [Forms page](http://farmingtonrobotics.org/members/forms/). Not only is there no interface for printing or downloading the documents, but if you click a link within an embedded Google Doc it opens within the iframe inside the page.

[2021-01-29 04:19] TJScalzo opened #151 "Flag.js is not necessary"
The behavior that this JavaScript creates can be accomplished using CSS. You just need to add a media query in [flag.css](https://github.com/team178/team178.github.io/blob/master/assets/css/flag.css) at 780px and use the selector `:last-of-type`  to hide the flag.
https://github.com/team178/team178.github.io/blob/e5c572d499e72114a1db79b7e191d578aa7e5aee/assets/js/flag.js#L1-L12

[2021-07-09 21:26] AM2i9 opened #152 "Enable/Enforce HTTPS (and perhaps update DNS)"
Going to https://farmingtonrobotics.org, the TLS certificate given is not for the domain, but is a certificate for the `*.github.com` domain. Just typing in `farmingtonrobotics.org` sends you to the site without TLS ecryption.

![image](https://user-images.githubusercontent.com/52932656/125137078-f782c680-e0d9-11eb-8560-7b125d4df642.png)
![image](https://user-images.githubusercontent.com/52932656/

[2021-07-09 22:06] barrontim commented on #152
Patrick,

I am aware of this and will fix so we have an https connection to the
site.  I’ll let you know when it is done and you can test it.

Tim

On Fri, Jul 9, 2021 at 5:26 PM Patrick Brennan ***@***.***>
wrote:

--
Tim Barron
Computer Science Teacher
Farmington High School
Farmington Public Schools
E: ***@***.***
W: 860 673 2514 x79266
C:  860 985 7035

Co-Head Coach of Farmington HS FIRST Rob

[2022-01-06 21:59] AM2i9 commented on #152
Here's some information about HTTPS and GitHub Pages
https://docs.github.com/en/pages/getting-started-with-github-pages/securing-your-github-pages-site-with-https

[2022-01-07 20:50] barrontim commented on #152
This morning I updated our DNS zone at Network Solutions, pulled a new cert, and enabled https.  It’s working for farmingtonrobotics.org and sub domain www.  All website html css and js scripts will need to be gone through and any references to our url will need to be updated to have the s in https
Also

  farmingtonrobotics.com has an issue I am looking to figure out still as does dreamfirst.org

[2022-01-07 21:41] TJScalzo commented on #152
I just fixed the redirect from DreamFirst.org with [this change](https://github.com/DreamFIRST/dreamfirst.github.io/commit/92ff08c6a1c940720ca23e796e6ad4fac0c26979).

All of the internal links between pages of the main site should be using a URL in the the config file. So theoretically the change I made [here](https://github.com/team178/team178.github.io/commit/bea088b636137efbdbf117788acbcc9aed1a

[2022-01-07 22:45] barrontim commented on #152
Thanks. I had forgotten we have dreamfirst as a separate repository.  Is it
part of the 178 GitHub organization?  I guess we could create a site for
farmingtorobotics.com and use a meta tag to just send it to our .org site.
The reason we own farmingtonrobotics.com is so someone else doesn’t buy it
and put something we don’t like there. Coaches will discuss.

Tim

On Fri, Jan 7, 2022 at 4:41 PM Tim

[2022-01-07 23:43] TJScalzo commented on #152
@barrontim The dreamfirst.org website repository is owned by the [Dream _FIRST_ organization](https://github.com/orgs/DreamFIRST/people) of which you and I are the only members. This is because GitHub Pages used to only allow one custom domain per organization/user. It had to be a repository in a separate organization to use a different domain. GitHub Pages has become much more sophisticated since

[2022-01-30 02:20] #152 closed

[2022-01-30 02:41] AM2i9 opened #153 "Publishing an index.html works only sometimes"
This is an issue that popped up when making the raffle page. The [https://github.com/team178/team178.github.io/blob/1a4d0ba89a6b520734ccaa0cf2da9f3702a34b6f/raffle/index.html](index.html) `/raffle`, but once pushed and published, it could only be accessed by going to `/raffle/index.html`. It was solved by changing `index.html` to a markdown file, but why?

Other pages such as the donate page also

[2022-06-07 17:45] DoorvaGarg commented on #134
Hi! Just fixed this part up:

- The members tab has been removed since these resources are outdated and can be accessed on classroom (the audience for this tab is just the members of the team anyways, so others do not need access)
- The Handbook (now under About) and Calendar (now under Resources) have been placed under different tabs.
- The Handbook has been updated to display a PDF (instead of a

[2022-06-07 17:45] #134 closed

[2022-09-06 01:14] AM2i9 opened #154 "Find a way to store newsletters outside of GitHub"
Currently, we store the newsletters in the repository here on GitHub. This might not be the best long-term way to store them, as it requires having to make a new commit and change the URL on the main page in order to keep it updated. I suggest it would be better to store it somewhere outside of this repository, and have a single static link that leads to either a list of newsletters, or to the lat

[2022-09-06 01:16] AM2i9 opened #155 "Newsletter image/link does not show up on mobile"
On mobile phones, or screens small enough, the image linking to the newsletter on the main page is hidden. The image probably uses the same CSS properties as the team photo, which also gets hidden once the width of the screen is small enough.

![image](https://user-images.githubusercontent.com/52932656/188526915-7f326ab2-24f1-49d9-8edd-0395c3872ae6.png)

[2022-10-26 20:57] DoorvaGarg commented on #155
Thanks! Just fixed it - yeah, the css properties were the reason.

[2022-10-26 20:57] #155 closed